// Skill

.skill {
  margin-bottom: calc(20 / 18 * 1rem);
  position: relative;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.skill--content {
  border: 1px solid $color-tertiary;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: flex-end;
}

.skill--text {
  font-family: $font-halisr-medium;
  font-size: calc(15 / 16 * 1em);
  line-height: calc(20 / 15 * 1em);
  padding: calc(10 / 18 * 1rem);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(15 / 18 * 1em);
  }
}