{% extends 'theme_base.html' %}

{% block title %}{{title}}{% endblock title %}
{% block meta_description %}{{meta_description}}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title">
        <h1 class="page-title--title page-title--title--error">Page not found</h1>
      </section>
      <section class="error--section">
        <div class="error--primary">
          <div class="error--description">We apologize for the inconvenience.  Perhaps the content you are looking for can be found in one of the following&nbsp;areas?</div>
          <ul class="error--menu">
            <li><a class="error--link" href="{% url 'work' %}">Work</a></li>
            <li><a class="error--link" href="{% url 'services' %}">Services</a></li>
            <li><a class="error--link" href="/">Home</a></li>
          </ul>
        </div>
        <div class="error--secondary">
          <h2 class="error--secondary-title">We’re on the case</h2>
          <div class="error--secondary-description">
            <p>We’ve been automatically notified of this error and appreciate your exposing it.  We’ll fix it.  </p>
            <p>Have questions in the meantime?  Please get in touch, coffee’s on us.</p>
          </div>
          <a href="mailto:business@ombuweb.com" class="error--secondary-link">Get in Touch</a>
        </div>
      </section>
    </div>
  </main>
{% endblock content %}
