{% extends 'theme_base.html' %}

{% block title %}{{title}}{% endblock title %}
{% block meta_description %}{{meta_description}}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title page-title--has-info">
        <h1 class="page-title--title page-title--title--about page-title--title--has-info">About</h1>
        <div class="page-title--supplementary-info">
          <div class="page-title--body">OMBU designs and builds the web’s best technology. We are a multi-faceted team that can design creatively,
              leverage technology effectively and lead stakeholder teams.
            <div class="page-title--body-smaller">Since 2009, we’ve seen our solutions transform
            organizations. We’ve helped companies enter global markets, NGOs engage with volunteers in real-time, and
            utility companies pool together to reduce carbon emissions. Every project we complete is a testament to the
              tremendous value technology can unleash for organizations. We’ve never been more passionate about what we do.</div>
          </div>
          <aside class="page-title--cta">
            <h2 class="page-title--cta-label">Our clients come to us for<br>three solution areas:</h2>
            <nav class="page-nav">
              <ul class="page-nav--list">
                <li class="page-nav--item"><a href="{% url 'services' %}#enterprise-cms" class="page-nav--link">Content Management</a></li>
                <li class="page-nav--item"><a href="{% url 'services' %}#custom-applications" class="page-nav--link">Custom Applications</a></li>
                <li class="page-nav--item"><a href="{% url 'services' %}#infrastructure" class="page-nav--link">Cloud Infrastructure</a></li>
              </ul>
            </nav>
          </aside>
        </div>
      </section>
    </div>
    <section class="about--story">
      <div class="container">
        <div class="about--story-inner">
          <div class="about--story-callout">
            {% include 'features/_callout.html' with story=True titleProminent=True subtleMargins=True %}
          </div>
        </div>
      </div>
    </section>
    <section class="about--clients">
      <div class="container">
        {% include 'features/_section-intro.html' with clients=True subtle=True %}
        {% include 'features/_image-grid.html' with prominent=True %}
      </div>
    </section>
  </main>
{% endblock content %}
