{% extends 'theme_base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}
{% block meta_description %}{{meta_description}}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title page-title--callout">
        <div class="page-title--primary">
          <h1 class="page-title--title page-title--title--callout">Come Work<br>with Visionaries</h1>
          <div class="page-title--callout-description">From which we spring hearts of the stars?  Tingling of the spine a mote of energy hidden in gossamer clouds. </div>
        </div>
        <div class="page-title--secondary">
          <img class="page-title--callout-image page-title--callout-image--desktop" src="{% static 'website/images/careers.png' %}">
          <img class="page-title--callout-image page-title--callout-image--mobile" src="{% static 'website/images/careers-mobile.png' %}">
        </div>
      </section>
    </div>
    <section class="careers--openings">
      <div class="container">
        <div class="careers--openings-inner-wrapper">
          <div class="careers--openings-inner">
            <h2 class="careers--openings-title">Current Openings</h2>
            <div class="careers--openings-grid">
              <div class="careers--opening">
                <div class="career--opening-inner">
                  <h3 class="careers--opening-title">Django Developer</h3>
                  <div class="careers--opening-summary">The ash of alchemy, vastness is bearable only through love, stuff for which there's little good evidence.</div>
                  <a href="mailto:business@ombuweb.com" class="careers--opening-cta">Get in Touch</a>
                </div>
              </div>
              <div class="careers--opening">
                <div class="career--opening-inner">
                  <h3 class="careers--opening-title">PHP Developer</h3>
                  <div class="careers--opening-summary">The ash of alchemy, vastness is bearable only through love, stuff for which there's little good evidence.</div>
                  <a href="mailto:business@ombuweb.com" class="careers--opening-cta">Get in Touch</a>
                </div>
              </div>
              <div class="careers--opening">
                <div class="career--opening-inner">
                  <h3 class="careers--opening-title">Product Owner</h3>
                  <div class="careers--opening-summary">The ash of alchemy, vastness is bearable only through love, stuff for which there's little good evidence.</div>
                  <a href="mailto:business@ombuweb.com" class="careers--opening-cta">Get in Touch</a>
                </div>
              </div>
              <div class="careers--opening">
                <div class="career--opening-inner">
                  <h3 class="careers--opening-title">UX Designer</h3>
                  <div class="careers--opening-summary">The ash of alchemy, vastness is bearable only through love, stuff for which there's little good evidence.</div>
                  <a href="mailto:business@ombuweb.com" class="careers--opening-cta">Get in Touch</a>
                </div>
              </div>
              <div class="careers--opening">
                <div class="career--opening-inner">
                  <h3 class="careers--opening-title">Office Cat</h3>
                  <div class="careers--opening-summary">The ash of alchemy, vastness is bearable only through love, stuff for which there's little good evidence.</div>
                  <a href="mailto:business@ombuweb.com" class="careers--opening-cta">Get in Touch</a>
                </div>
              </div>
              <div class="careers--opening careers--opening--you">
                <div class="career--opening-inner">
                  <h3 class="careers--opening-title">You</h3>
                  <div class="careers--opening-summary">The ash of alchemy, vastness is bearable only through love, stuff for which there's little good evidence.</div>
                  <a href="mailto:business@ombuweb.com" class="careers--opening-cta">Get in Touch</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
