{% extends 'theme_base.html' %}

{% block title %}{{title}}{% endblock title %}
{% block meta_description %}{{meta_description}}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title">
        <h1 class="page-title--title page-title--title--prominent">Powering Visionaries</h1>
        <nav class="page-nav">
          <ul class="page-nav--list">
            <li class="page-nav--item"><a href="{% url 'services' %}#enterprise-cms" class="page-nav--link">Content Management</a></li>
            <li class="page-nav--item"><a href="{% url 'services' %}#business-applications" class="page-nav--link">Custom Applications</a></li>
            <li class="page-nav--item"><a href="{% url 'services' %}#infrastructure" class="page-nav--link">DevOps</a></li>
          </ul>
        </nav>
      </section>
      <section class="home-content">
        {% include 'features/_callout.html' with navex=True prominent=True %}
        {% include 'features/_callout.html' with nwpp=True %}
        {% include 'features/_callout.html' with sa=True prominent=True %}
        {% include 'features/_cta-subtle.html' %}
        {% include 'features/_image-grid.html' %}
      </section>
    </div>
  </main>
{% endblock content %}
