{% extends 'theme_base.html' %}

{% block title %}{{title}}{% endblock title %}
{% block meta_description %}{{meta_description}}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title page-title--has-info">
        <h1 class="page-title--title">Services</h1>
          <div class="page-title--subtitle">
            We design and build technology for&nbsp;visionaries<br>
            We partner with our clients to create transformative&nbsp;solutions
          </div>
        <div class="services--rings">{% include 'features/_rings.html' with verticalMobile=True rings=services %}</div>
      </section>
    </div>
    <section class="services--content">
      <div class="container">
        <div class="row">
          <div class="services--content-inner">
            {% include 'features/_callout.html' with enterprise=True bigGap=True titleProminent=True mediaSubtle=True %}
            <div class="card-grid--row">
              {% include 'features/_cta-card.html' with caseStudyEnterprise=True %}
            </div>
            {% include 'features/_callout.html' with business=True prominent=True bigGap=True titleProminent=True mediaSubtle=True %}
            <div class="card-grid--row card-grid--row--secondary">
              {% include 'features/_cta-card.html' with caseStudyBusiness=True %}
            </div>
            {% include 'features/_callout.html' with infrastructure=True bigGap=True titleProminent=True mediaSubtle=True %}
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
