[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "lib/pelican-plugins"]
	path = lib/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
