{% extends "base-page.html" %}
{% set body_class = "page" %}
{% set active_menu_item = "blog" %}

{% block content %}
      <header> <h1 class="entry-title">{{ article.title }}</h1> </header>
      <footer class="post-info">
        <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
        {% if article.author %}<address class="vcard author">By {{ article.author }}</address>{% endif %}
      </footer><!-- /.post-info -->
      <div class="entry-content"> {{ article.content }} </div><!-- /.entry-content -->

      {% if DISQUS_SITENAME %}
      <div class="comments">
        <h2>Comments</h2>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_identifier = "{{ article.slug }}";
          (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
      </div>
      {% endif %}

{% endblock %}
