{% extends "blog-page.html" %}
{% set body_class = "page blog article" %}
{% set active_menu_item = "blog" %}
{% set blog_title = article.title %}

{% block content %}

    <div class="row-fluid">
        <div class="span2">
            <aside class="post-info">
                {% if article.author %}
                    <img src="{{ 'theme/img/team/ap-1.jpg' }}" width="50" height="50" alt="Adam Page" />
                    <address class="vcard author">By {{ article.author }}</address>
                {% endif %}
                <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</abbr>
                <ul>
                    {% for tag in article.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
                {% if article.author %}
                    <p class="bio">Seasoned Web architect, team lead, and client advocate. Thrives on making projects happen and seeing them succeed. Cook, pet trainer, and craft brew assessor.</p>
                {% endif %}
            </aside>
        </div>
        <div class="span7 page-content">
            <div class="entry-content">
                {{ article.content }}
            </div>
            <p class="more"><a href="{{ SITEURL }}/blog.html">&lang; Back to blog index</a></p>

            {% if DISQUS_SITENAME %}
            <div class="comments">
              <h2>Comments</h2>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                var disqus_identifier = "{{ article.slug }}";
                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              </script>
            </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
