{% extends "base.html" %}
{% set body_class = "page blog blog-list" %}
{% set active_menu_item = "blog" %}

{% block content %}

    <header class="title">
        <div class="row-fluid">
            <div class="span10 offset2">
                <h1>Blog{% if articles_page.has_previous() %} - Page {{ articles_page.number }}{% endif %}</h1>
            </div>
        </div>
    </header>
    <div class="row-fluid">
        <div class="span3 offset9 about">
            <div>
                <h5>About OMBU</h5>
                <p>We're a Web technology firm. We plan, build, and launch websites, applications, content management systems, and cloud infrastructures.</p>
                <h5>RSS</h5>
                <p><a href="{{ SITEURL }}/feeds/rss.xml">Subscribe to our feed</a></p>
            </div>
        </div>
    </div>


    {% for article in articles_page.object_list %}

        <article>
            <div class="row-fluid">
                <div class="span2">
                    <aside class="post-info">
                        {% if article.author %}
                            <img src="{{ 'theme/img/team/ap-1.jpg' | cdn }}" width="50" height="50" alt="Adam Page" />
                            <address class="vcard author">By {{ article.author }}</address>
                        {% endif %}
                        <abbr class="published" title="{{ article.date.isoformat() }}">{{ article.date.strftime('%b %d, %Y') }}</abbr>
                        <ul>
                            {% for tag in article.tags %}
                                <li><a href="/tag/{{ tag }}/">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    <aside>
                </div>
                <div class="span7 page-content">
                    <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                    <div class="entry-content">
                        {{ article.summary }}
                        <p class="more"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Read more &rang;</a></p>
                    </div><!-- /.entry-content -->
                </div>
            </div>
            <div class="row-fluid">
                <div class="break span9"><hr></div>
            </div>
        </article>

    {% endfor %}

    <div class="row-fluid">
        <div class="span10 offset2 page-content">
            {% include '_pagination.html' %}
        </div>
    </div>

{% endblock content %}
