{% from 'macros.html' import card %}
{% set project = projects[2] %}

{% extends "base.html" %}
{% block content %}

<div class="project pane">
  <div class="row-fluid header">
    <div class="span6 offset2">
      <h1>{% include 'svg/clients/' + project.token_client + '.html' %}</h1>
    </div>
    <div class="span3">
      <h2>Project profile</h2>
    </div>
  </div>
  <div class="row-fluid profile">
    <div class="span6">
      <div class="images">
        <ul>
          <li>
            <img class="fallback" src="theme/img/work/{{ project.images[0] }}" width="960" height="726" alt="Project image for {{ project.title }}" />
          </li>
        </ul>
      </div>
      <div class="captions">
        <ul>
          {% for caption in project.captions %}
            <li>
              {{ caption }}
            </li>
          {%  endfor %}
        </ul>
      </div>
    </div>
    <div class="span6">
      <div class="content">
        {{ project.content }}
      </div>

      <h3>View other projects</h3>
      <div class="project-cards">
          <ul class="secondary">
              {% for project in projects %}
                  <li class="{{ project.token_client }}">{{ card(project) }}</li>
              {% endfor %}
              <li><a href="#"><div class="card cta"><div class="tile"><div class="tile-container"><div class="table"><div class="table-cell"><span>View all work</span></div></div></div></div></div></a></li>
          </ul>
      </div>

    </div>
  </div>
</div>

{% endblock %}
