{% load static %}
<!DOCTYPE html>
<html class="exp-rings-d">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
      <title>{% block title %}{% endblock %} {{ site_config.site_title }}</title>
      <meta name="description" content="{% block meta_description %}{% endblock %}"></meta>
      {% block extrahead %}{% endblock %}
      <link href="{% static "website/css/style.css" %}" rel="stylesheet" type="text/css" />
      {% block extrastyle %}{% endblock %}
  </head>
  <body {% block body_attrs %}{% endblock %}>

    <div id="page" class="exp-page">
      {% block content_top %}
        <header id="header"{% block header_attributes %}{% endblock %}>
          <div class="container">
            <div class="header--contents">
              <a href="/" class="header--logo">{% include 'svg/logo.svg.html' %}</a>
            </div>
            <div class="exp-header">
              <a class="exp-index-link" href="/exp"><h3>Experiments</h3></a>
              <a class="exp-back-link" href="/exp/rings"><span>⟻</span>Back</a>
              <h1 class="exp-title">Ring Concept D</h1>
              <a id="exp-reset" class="btn-primary" href="#">↻ Replay</a>
            </div>
          </div>
        </header>
      {% endblock content_top %}

      <main>
        <div class="container">

<!--
          <svg id="exp-rings_svg" class="exp-rings-d--svg" viewBox="0 0 800 300" xmlns="http://www.w3.org/2000/svg">
            <linearGradient id="exp-ombu-gradient-01" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" stop-color="#6DC5D4">
                <animate id="exp-ombu-gradient-01--animate-1" attributeName="stop-color" values="#6DC5D4;#F3A7AD;#6DC5D4" dur="1.5s" from="0" to="100%" repeatCount="indefinite" />
              </stop>
              <stop offset="100%" stop-color="#F3A7AD">
                <animate id="exp-ombu-gradient-01--animate-2" attributeName="stop-color" values="#F3A7AD;#6DC5D4;#F3A7AD" dur="1.5s" from="0" to="100%" repeatCount="indefinite" />
              </stop>
            </linearGradient>
            <circle r="140" cx="150" cy="150" fill="transparent"></circle>
            <circle r="140" cx="400" cy="150" fill="transparent"></circle>
            <circle r="140" cx="650" cy="150" fill="transparent"></circle>
          </svg>
 -->

          <svg id="exp-rings_svg" class="exp-rings-d--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270">

            <defs>
                <linearGradient x1="16.1866639%" y1="77.5881648%" x2="83.1506322%" y2="77.5881648%" id="exp-ombu-gradient-01">
                    <stop stop-color="#F3A7AD" offset="0%">
                      <animate attributeName="stop-color" values="#F3A7AD;#6DC5D4;#F3A7AD" dur="1.5s" from="0" to="100%" repeatCount="indefinite" />
                    </stop>
                    <stop stop-color="#6DC5D4" offset="100%">
                      <animate attributeName="stop-color" values="#6DC5D4;#F3A7AD;#6DC5D4" dur="1.5s" from="0" to="100%" repeatCount="indefinite" />
                    </stop>
                </linearGradient>
            </defs>
            <path class="omburing-middle" stroke-width="3" stroke="url(#linearGradient-1)" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" d="M19.542,182.967 C13.399,168.196 10,151.996 10,135 C10,118.003 13.399,101.803 19.542,87.032 C21.173,83.111 22.993,79.289 25,75.582 C26.822,72.214 28.8,68.943 30.913,65.771 C53.318,32.153 91.569,10 135,10 C178.431,10 216.682,32.153 239.087,65.771 M250.458,87.032 C256.602,101.803 260,118.003 260,135 C260,151.996 256.602,168.196 250.458,182.967 C248.827,186.888 247.007,190.71 245,194.417 C243.178,197.785 241.2,201.056 239.087,204.228 C216.682,237.846 178.431,260 135,260 C91.569,260 53.318,237.846 30.913,204.228"></path>
          </svg>

        </div>
      </main>

      {% block content_bottom %}
      {% endblock content_bottom %}
    </div>

    {% block post_content %}
    {% endblock post_content %}

    {% block modals %}{% endblock %}

    <script type="text/javascript">

      document.getElementById('exp-rings_svg').classList.add('animation-triggered')


      var path = document.querySelector('path');
      console.log(path.getTotalLength());

      function expClickCallback(e) {
        var e = window.e || e;
        if (e.target.tagName === 'A' && e.target.id === 'exp-reset') {
          e.preventDefault();
          document.getElementById('exp-rings_svg').classList.remove('animation-triggered');
          setTimeout(function() {
            document.getElementById('exp-rings_svg').classList.add('animation-triggered');
          }, 500);
        }
      }

      if (document.addEventListener) {
        document.addEventListener('click', expClickCallback, false);
      } else {
        document.attachEvent('onclick', expClickCallback);
      }

      setTimeout(function() {
        document.getElementById('exp-reset').classList.add('visibility-triggered');
      }, 1500);

    </script>

    <!-- <script type="text/javascript" src="{% static "website/js/scripts-all.js" %}"></script> -->

    {% block extrascript %}{% endblock %}
    {% block page_bottom %}{% endblock %}

  </body>
</html>
