{% load static %}

<div class="slider">
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/01.png' %}" alt="Screenshot of Kaufman Hall home page"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/02.png' %}" alt="Screenshot of Kaufman Hall thought leadership"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-two-images slider--slide--has-shadow">
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/03.png' %}" alt="Screenshot of Kaufman Hall industries menu"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/04.png' %}" alt="Screenshot of Kaufman Hall industry focus feature"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/05.png' %}" alt="Screenshot of Kaufman Hall health care industry overview"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-two-images slider--slide--has-shadow">
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/06.png' %}" alt="Screenshot of Kaufman Hall software menu"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/07.png' %}" alt="Screenshot of Kaufman Hall featured insights"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/08.png' %}" alt="Screenshot of Kaufman Hall whitepaper resource"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/kaufmanhall/09.png' %}" alt="Screenshot of Kaufman Hall health care software overview"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
</div>
