{% load static %}

<div class="slider">
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/01.png' %}" alt="Elements of Metro website’s home page"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/02.png' %}" alt="Elements of Metro website’s Healthy Homes section"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-text">
    <div class="slide--text">
      <span class="slide--text-prominent">13</span>
      <span class="slide--text-default slide--text-default--prominent">languages</span>
    </div>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/03.png' %}" alt="Elements of Metro website’s language selection screen"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-text">
    <div class="slide--text">
      <span class="slide--text-prominent">150+</span>
      <span class="slide--text-default slide--text-default--prominent">CMS users</span>
    </div>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/04.png' %}" alt="Elements of Metro website’s documents, events, and work features"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/05.png' %}" alt="Elements of Metro website’s home page map feature"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/06.png' %}" alt="Elements of Metro website’s find a recycler and facilities feature"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/07.png' %}" alt="Elements of Metro website’s find a recycler interactive map"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/metro/08.png' %}" alt="Elements of Metro website’s maps and data analysis features"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
</div>
