{% load static %}

<div class="slider">
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery">
      <div class="slider--slide--browser">
        {% include 'svg/browser.svg.html' with url='rtf.nwcouncil.org' %}
        <img src="{% static 'website/images/slider/nw-council-rtf/01.png' %}" alt="Elements of NW Council RTF’s home page">
        <span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span>
      </div>
    </a>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/02.png' %}" alt="Elements of NW Council RTF’s measures listing"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/03.png' %}" alt="Elements of NW Council RTF’s website navigation"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-two-images slider--slide--has-shadow">
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/04.png' %}" alt="Elements of NW Council RTF’s decisions content"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/05.png' %}" alt="Elements of NW Council RTF’s upcoming meeting calendar feature"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/06.png' %}" alt="Elements of NW Council RTF’s measure detail page"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/07.png' %}" alt="Elements of NW Council RTF’s meeting calendar block"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/nw-council-rtf/08.png' %}" alt="Elements of NW Council RTF’s decisions detail page"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
</div>
