{% load static %}

<div class="slider">
  <div class="slider--slide slider--slide--has-shadow">
    <img src="{% static 'website/images/slider/occ/01.png' %}" alt="Elements of Oregon Convention Center website’s home page">
  </div>
  <div class="slider--slide slider--slide--has-text">
    <div class="slide--text">
      <span class="slide--text-prominent">92%</span>
      <span class="slide--text-default">of Event Organizers Described the<br>New Site as “Good” or “Excellent”</span>
    </div>
  </div>
  <div class="slider--slide slider--slide--has-two-images">
    <div class="slider--slide-image">
      <img src="{% static 'website/images/slider/occ/02.png' %}" alt="Elements of Oregon Convention Center website’s smartphone navigation">
    </div>
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/occ/03.png' %}" alt="Elements of Oregon Convention Center website’s page-specific contact feature"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <img src="{% static 'website/images/slider/occ/04.png' %}" alt="Elements of Oregon Convention Center website’s staff directory">
  </div>
  <div class="slider--slide">
    <img src="{% static 'website/images/slider/occ/05.png' %}" alt="An exterior photo of the Oregon Convention Center’s glass towers at night">
  </div>
</div>
