// Image overlay

.image-overlay--link {
  display: block;
  position: relative;
  text-decoration: none;

  &, .rte & {
    @include default-link-off();
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-body;
  }
}

.image-overlay--prompt {
  display: block;
  font-family: $font-halisr-bold;
  font-size: calc(18 / 16 * 1em);
  line-height: calc(32 / 18 * 1em);
  margin-top: calc(20 / 18 * 1rem);
  text-align: center;
  width: 100%;

  svg {
    display: inline-block;
    height: 24px;
    margin-right: calc(5 / 18 * 1rem);
    vertical-align: middle;
    width: 24px;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(18 / 18 * 1em);
  }

  .image-overlay--link--gallery.image-overlay--link & {
    margin-top: 0;
  } 
}

// Gallery modifiers
.image-overlay--link.image-overlay--link--gallery {

}

.image-overlay--prompt-wrapper {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: flex;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all $transition-duration-default ease;
  visibility: hidden;
  z-index: 3;

  .image-overlay--link.image-overlay--link--gallery:hover &,
  .image-overlay--link.image-overlay--link--gallery:focus &,
  .image-overlay--link.image-overlay--link--gallery:active & {
    opacity: 1;
    visibility: visible;
  }
}

// Modal 
.image-overlay {
  max-height: calc(100vh - (#{$modal-padding} * 4));
}