.image-grid {
  margin-left: -$gutter-side-tile;
  margin-right: -$gutter-side-tile;  
  text-align: center;

  @media (max-width: $breakpoint-tablet - 1px) {
    margin-top: 5.625rem;
    margin-bottom: 4.375rem;    
  }  

  @media (min-width: $breakpoint-tablet) {
    align-content: center;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  &.image-grid--prominent {
    @media (max-width: $breakpoint-tablet - 1px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: calc(34 / 16 * 1rem);
      margin-top: calc(60 / 16 * 1rem);
      justify-content: space-between;
    }

    @media (min-width: $breakpoint-tablet) {
      display: block;  
      margin-top: calc(140 / 18 * 1rem);
      margin-bottom: calc(100 / 18 * 1rem);    
      text-align: center;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-left: -$gutter-side-tile * 2;
      margin-right: -$gutter-side-tile * 2;          
    }    
  }

  &,
  &.image-grid--prominent {
    .section-intro + & {
      margin-top: 0;
    }
  }
}

.image-grid--item {
  font-size: 0;
  padding-left: $gutter-side-tile;
  padding-right: $gutter-side-tile;  
  text-align: center;

  img,svg {
    height: auto;
  }

  @media (max-width: $breakpoint-tablet - 1px) {
    display: inline-block;
    margin-bottom: 1.25rem;
    vertical-align: middle;
    width: 32%;

    img,svg {
      max-height: 40px;
      max-width: 100%;
      vertical-align: middle;
      width: auto;      
    }
  }

  @media (min-width: $breakpoint-tablet) {
    align-items: center;
    display: flex;
    flex: 1 1 auto;  
    min-width: 0;

    img,svg {
      max-height: 93px;
      max-width: 190px;
      width: auto;
    }  
  }

  .image-grid--prominent & {
    @media (max-width: $breakpoint-tablet - 1px) {
      align-items: center;
      display: flex;
      justify-content: space-around;
      margin-bottom: 2.25rem;
      width: 50%;

      img,svg {
        max-height: 60px;
        max-width: 130px;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      display: inline-block;
      margin-bottom: 2.25rem;
      width: 19.5%;

      img,svg {
        max-height: 110px;
        max-width: 100%;
      }
    }

    @media (min-width: $breakpoint-notebook) {
      padding-left: $gutter-side-tile * 2;
      padding-right: $gutter-side-tile * 2;  
    }
  }  
}