// Project List
$project-list-padding: 15px;

.project-list {
  margin-top: calc(60  / 18 * 1rem);
  margin-bottom: calc(70  / 18 * 1rem);

  @media (min-width: $breakpoint-tablet) {
    margin-top: calc(160 / 18 * 1rem);
    margin-bottom: calc(66 / 18 * 1rem);
    margin-left: -$project-list-padding;
    margin-right: -$project-list-padding;
    @include clearfix();
  }
}

.project-list--item {
  @media (min-width: $breakpoint-tablet) {
    float: left;
    padding-left: $project-list-padding;
    padding-right: $project-list-padding;
    width: calc(1 / 3 * 100%);

    &:nth-child(3n+4) {
      clear: left;
    }
  }
}