// Slider
$slider-height-desktop: 360px;
$slider-height-mobile: 190px;

.slider {
  height: $slider-height-mobile;

  // Override for owl carousel bug that disables dots
  .owl-dots.disabled {
    display: block;
  }

  @media (max-width: $breakpoint-tablet - 1px) {
    .owl-item {
      text-align: center;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    height: $slider-height-desktop;
  }
}

.slider--slide {
  height: $slider-height-mobile;
  text-align: center;
  width: 100%;

  img {
    height: $slider-height-mobile;
    max-width: 100%;
    width: auto;
  }

  .owl-carousel .owl-item & img {
    display: inline-block;
    width: auto;
  }

  &.slider--slide--has-shadow {
    overflow: hidden;
    padding: 4px;

    img {
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      height: $slider-height-mobile - 8px;
    }
  }

  &.slider--slide--has-text {
    align-items: center;
    background-color: $color-secondary-dark;    
    display: flex;
    height: $slider-height-desktop;
    justify-content: space-around;
    padding: $gutter-side-tile;
  }

  @media (max-width: $breakpoint-tablet - 1px) { 

    img {
      object-fit: cover;
    }

    &.slider--slide--has-text {
      height: $slider-height-mobile;
    }

    &.slider--slide--has-two-images {

      .slider--slide-image {
        height: calc(#{$slider-height-mobile} / 2) !important;

        &:first-child {
          float: left;
          width: 50%;
        }

        &:last-child {
          float: right;
          width: calc(50% + 0.1px);
        }

        img {
          height: calc(#{$slider-height-mobile} / 2) !important;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .image-overlay--link {
      display: inline-block;
      width: auto;
    }
  }

  @media (min-width: $breakpoint-smartphone-landscape) and (max-width: $breakpoint-tablet - 1px) {
    &.slider--slide--has-two-images { 
      .slider--slide-image {
        height: $slider-height-mobile !important;

        &:first-child,
        &:last-child {
          width: calc(50% - 0.5rem);
        }
        
        .image-overlay--link {
          height: 100%;
        }

        img {
          height: 100% !important;
        }
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    height: $slider-height-desktop;
    margin-left: $gutter-side-tile / 2;
    margin-right: $gutter-side-tile / 2;
    width: auto;

    img {
      height: $slider-height-desktop;
      max-width: none;
    }

    &.slider--slide--has-shadow {
      overflow: visible;
      padding: 0;

      img {
        height: $slider-height-desktop;
      }
    }    

    &.slider--slide--has-text {
      padding: 2 * $gutter-side-tile;
      width: 300px;
    }   

    &.slider--slide--has-two-images {
      height: $slider-height-desktop - $gutter-side-tile;
      width: auto;

      .slider--slide-image {
        height: auto;
        width: auto;

        &:last-child {
          position: relative;
          top: $gutter-side-tile;
        }
      }

      .image-overlay--link {
        height: 100%;
        width: 100%;
      }

      img {
         height: 100%;
         width: auto;
         vertical-align: middle;
      }
    }
  } 
}

.slider--slide--browser {
  @include browser-chrome();
}

.slider--slide--browser-mobile {
  @include browser-chrome-mobile();
}

.slider--slide--browser,
.slider--slide--browser-mobile {
  height: $slider-height-mobile;

  @media (max-width: $breakpoint-tablet - 1px) {
    display: inline-block;
    width: auto;
  }

  @media (min-width: $breakpoint-tablet) {
    height: $slider-height-desktop;
  }
}

.slide--text {
  color: $color-white;
  display: block;
}

.slide--text-prominent {
  display: block;
  font-family: $font-halisr-book;
  font-size: calc(80 / 16 * 1em);
  line-height: calc(70 / 111 * 1em);
  margin-bottom: 0.18em;

  @media (min-width: $breakpoint-tablet) {
    font-size: calc(111 / 18 * 1em);
    line-height: calc(90 / 111 * 1em);    
  }
}

.slide--text-default {
  display: block;
  font-family: $font-halisr-book;
  font-size: calc(18 / 16 * 1em);  
  line-height: calc(24 / 18 * 1em);

  @media (min-width: $breakpoint-tablet) {
    font-size: calc(18 / 18 * 1em);
  }
}

.slide--text-default.slide--text-default--subtle {
  font-size: calc(12 / 16 * 1em);  
  line-height: calc(18 / 12 * 1em);

  @media (min-width: $breakpoint-tablet) {
    font-size: calc(12 / 18 * 1em);
  }  
}

.slide--text-default.slide--text-default--prominent {
  font-size: calc(24 / 16 * 1em);  
  line-height: calc(32/ 24 * 1em);

  @media (min-width: $breakpoint-tablet) {
    font-size: calc(24 / 18 * 1em);
  }  
}