// C = 2πr

$transition-duration: 2s;

.exp-rings-d--svg {
  display: block;
  margin: 0 auto;
  max-width: 270px;

  path {
    stroke-width: 0px;
    stroke: url(#exp-ombu-gradient-01);
    stroke-linecap: round;
    stroke-dashoffset: 416.858825684;
    stroke-dasharray: 416.858825684;
    transition: all 0s ease;
  }

  &.animation-triggered path {
    stroke-width: 5px;
    stroke-dashoffset: 30;
    transition-duration: $transition-duration;
  }
}
