// Rings base
.ring--svg {
  display: block;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  path {
    stroke-width: $stroke-width-start;
    stroke: url(#exp-ombu-gradient-01);
    stroke-linecap: round;
    transition: all 0s ease;
  }

  &.ring--svg--filled {
    background-image: url('../images/ring-filled.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 94% 94%;
    border-radius: 100%;
    z-index: 3;
    opacity: 0;  
    overflow: hidden; 
    width: 100%;
    height: 100%;
    transition: all 1s ease;

    .ring--svg--white {
      height: 100%;
      top: 50%;
      position: absolute;
      left:  80%;
      transform: translateY(-50%);
      width: 100%;

      path {
        stroke: $color-white;
      }
    }

    &.ring--svg--last .ring--svg--white {
      left: auto;
      right: 80%;
    }

    &.ring--svg--middle .ring--svg--white {
      &:first-child {
        left: auto;
        right: 80%;
      }
    }

    .animation-triggered & {
      opacity: 1;
    }
  }

  &.ring--svg--first path,
  &.ring--svg--last path {
    // document.querySelector('#ring--svg--first path').getTotalLength();
    stroke-dashoffset: 761.34912109375;
    stroke-dasharray: 761.34912109375;
  }

  &.ring--svg--middle path {
    // document.querySelector('#ring--svg--middle path').getTotalLength();
    // Divided by two since the path is a compound of two segments
    stroke-dashoffset: (737.1893310546875 / 2);
    stroke-dasharray: (737.1893310546875 / 2);
  }

  .animation-triggered & {
    path {
      stroke-width: $stroke-width-final;
      stroke-dashoffset: 0;
      transition-duration: $transition-duration;
    }
  }

  .rings--vertical & {
    transform: translateY(-50%) rotate(90deg);
  }

  @media (max-width: $breakpoint-tablet - 1px) {
    .rings--vertical--mobile & {
      transform: translateY(-50%) rotate(90deg);
    }
  } 
}
