// Rings base
.ring--svg {
  display: block;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  path {
    stroke-width: $stroke-width-start;
    stroke: url(#exp-ombu-gradient-01);
    stroke-linecap: round;
    transition: all 0s ease;
  }

  &.ring--svg--first path,
  &.ring--svg--last path {
    // document.querySelector('#ring--svg--first path').getTotalLength();
    stroke-dashoffset: 761.34912109375;
    stroke-dasharray: 761.34912109375;
  }

  &.ring--svg--middle path {
    // document.querySelector('#ring--svg--middle path').getTotalLength();
    // Divided by two since the path is a compound of two segments
    stroke-dashoffset: (737.1893310546875 / 2);
    stroke-dasharray: (737.1893310546875 / 2);
  }

  .animation-triggered & {
    path {
      stroke-width: $stroke-width-final;
      stroke-dashoffset: 0;
      transition-duration: $transition-duration;
    }
  }

  .rings--vertical & {
    transform: translateY(-50%) rotate(90deg);
  }

  @media (max-width: $breakpoint-tablet - 1px) {
    .rings--vertical--mobile & {
      transform: translateY(-50%) rotate(90deg);
    }
  } 
}
