<svg viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-labelledby="svg-title--close-icon">
  <title id="svg-title--close-icon">Close icon</title>
  <desc>An X shape enclosed by a circle</desc>
  <g id="Main" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
    <g id="2a-Nav-M" transform="translate(-260.000000, -30.000000)" stroke="#435E74">
      <g id="icon_close_m" transform="translate(260.000000, 30.000000)">
        <g id="Group" transform="translate(2.000000, 2.000000)">
            <path d="M0.245283019,0.245283019 L25.6507315,25.6507315" id="Line" stroke-width="2"></path>
            <path d="M0.245283019,0.245283019 L25.6507315,25.6507315" id="Line" stroke-width="2" transform="translate(13.000000, 13.000000) scale(-1, 1) translate(-13.000000, -13.000000) "></path>
        </g>
      </g>
    </g>
  </g>
</svg>
