{% macro member(name, title, bio, photos) %}
<div class="team-member {{ 'hidden-phone' if name == 'Current Opportunities' }}">
    <div class="photos">
        {# {% for photo in photos %} #}
        <img class="lazy" src="{{ 'theme/img/grey.gif' }}" data-original="{{ ('theme/img/team/' + photos.0 ) }}" width="100%">
        {# {% endfor %} #}
    </div>
    <div class="bio">
        <h3>{{ name }}</h3>
        <div class="hidden-phone">
            <h4>{{ title }}</h4>
            {{ bio }}
        </div>
    </div>
</div>
{%- endmacro %}

<div id="team" class="pane">

    <div class="row-fluid">
        <div class="offset2 span10">
            <div class="hero-unit">
                <h1>Team</h1><br>
            </div>
        </div>

    </div><!-- /.row-fluid -->

    <div class="row-fluid team-members">
            {{ member(
                name = 'Martin Rio',
                title = 'Principal',
                photos = ['mr-1.jpg'],
                bio= """
                <p>Seasoned Web architect, team lead, and client advocate.
                Thrives on making projects happen and seeing them succeed.
                Cook, pet trainer, and craft brew assessor.</p>
                """
            ) }}
            {{ member(
                name = 'Jonathan Glick',
                title = 'Senior Developer',
                photos = ['jg-1.jpg'],
                bio= """
                <p>
                Seasoned developer in many languages. Enjoys full-stack
                development. Javascript junkie. Homemade costume enthusiast.</p>
                """
            ) }}
            {{ member(
                name = 'Jon Duell',
                title = 'Senior Developer',
                photos = ['jd-1.jpg'],
                bio= """
                <p>Drupalist supreme. Vim/CLI wizard. Proud new father.</p>
                """
            ) }}
            {{ member(
                name = 'Anna Chapman',
                title = 'Project Manager',
                photos = ['ac-1.jpg'],
                bio= """
                <p>Project Manager extraordinaire. Communications hub and team
                wrangler. Super classy lady with an appreciation for all things
                glittery.</p>
                """
            ) }}
            {{ member(
                name = 'Adam Page',
                title = 'User Experience Lead',
                photos = ['ap-1.jpg'],
                bio = """<p>UX explorer, IX specialist, UI developer.  Cyclist,
                diver, traveler, and gamer of board &amp; video.</p>"""
            ) }}
            {{ member(
                name = 'Ryan Miglavs',
                title = 'Product Owner',
                photos = ['rm-1.jpg'],
                bio = """<p>Bearer of product features and requirements.
                Programmer, artist, adventurer, chef, and OMBU
                poet&nbsp;laureate.</p>"""
            ) }}
            {{ member(
                name = 'Danielle Kulczyk',
                title = 'Product Owner',
                photos = ['dk-1.jpg'],
                bio = """<p>Sushi enthusiast, barre master, kitten herder, 
                appreciator of all things mid-century modern, list-making 
                junkie.</p>"""
            ) }}
            {{ member(
                name = 'Andy Price',
                title = 'Developer',
                photos = ['andy-1.jpg'],
                bio = """<p>Graphic designer turned full-stack web developer.
                Fluent in Drupal. Captivated by new technology. A family man
                who enjoys seeing life through the lens of a camera.</p>"""
            ) }}
            {{ member(
                name = 'Ben Hartig',
                title = 'Developer',
                photos = ['bh-1.jpg'],
                bio = """<p>Drupal developer and connoisseur of tv shows,
                movies and video games.</p>"""
            ) }}
            {{ member(
                name = 'Merissa Sibley',
                title = 'Office Manager',
                photos = ['ms-1.jpg'],
                bio = """<p>Marketer by profession, organizer by obsession.
                Runner, repurposer and lover of puzzles. Wife, mother, Yah
                seeker.</p>"""
            ) }}
            {{ member(
                name = 'Erica Schubach',
                title = 'Accountant',
                photos = ['es-1.jpg'],
                bio = """<p>Tech savvy accountant. Skills to pay the bills.
                Hiker, paleta taste-tester, and beagle lover. </p>"""
            ) }}
            {{ member(
                name = 'Current Opportunities',
                photos = ['you.jpg'],
                bio= """<p>We are hiring for a <strong>Full-stack Web Developer
                    with an emphasis on Drupal</strong>. Read more in our <a
                    href='/pages/careers.html'>Careers&nbsp;page</a>.</p>"""
            ) }}
    </div> <!-- .row-fluid -->

</div><!--.pane -->
