{% from 'macros.html' import card %}

<div id="work" class="pane">

    <div class="row-fluid">
        <div class="span10 offset2">
            <div class="hero-unit">
                <h1>Work</h1>
            </div><!-- /.hero-unit -->
        </div>
    </div><!-- /.row-fluid -->

    <div class="row-fluid">
        <div class="span12">
            <div class="project-cards">
                <ul class="primary">
                    {% for project in projects %}
                        {% if project.featured == "primary" %}
                            <li class="{{ project.token_client }}">{{ card(project) }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="secondary">
                    {% for project in projects %}
                        {% if project.featured == "secondary" %}
                            <li class="{{ project.token_client }}">{{ card(project) }}</li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="/work.html"><div class="card cta"><div class="tile"><div class="tile-container"><div class="table"><div class="table-cell"><span>View all work</span></div></div></div></div></div></a></li>
                </ul>
            </div>
        </div>
    </div>

</div><!-- /.pane -->
