{% macro project(title, description, features) %}
<div class="project">

    <div class="span7 ">

        <div class="carousel carousel-fade slide">
            <div class="carousel-inner">
                {% for f in features %}
                <div class="{{ loop.index }} item {{ 'active' if loop.index == 1 }}">
                    <img class="lazy" src="{{ 'theme/img/grey.gif' }}"
                    data-original="{{ ('theme/img/work/' + f.image) }}"
                    width="100%">
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="span5">

        <h2>{{ title }}</h2>

        {{ description }}

        <div class="highlights hidden-phone">

            <ul class="nav nav-pills nav-stacked">
                {% for f in features %}
                <li class="{{ 'active' if loop.index == 1 }}">
                    <a href="#">{{ f.caption }}</a>
                </li>
                {% endfor %}
            </ul>

        </div><!-- /.higlights -->

    </div>


</div>
{%- endmacro %}

<div id="work" class="pane">

    <div class="row-fluid">
        <div class="span10 offset2">
            <div class="hero-unit">
                <h1>Work</h1>
            </div><!-- /.hero-unit -->
        </div>
    </div><!-- /.row-fluid -->

    <div class="row-fluid">

        <ul class="projects nav nav-pills">
            <li class="active offset2">
                <a data-toggle="tab" href="#paramount">Paramount
                    Pictures</a>
            </li>
            <li>
                <a data-toggle="tab" href="#uolcb">University of Oregon</a>
            </li>
            <li>
                <a data-toggle="tab" href="#cartalk">Car Talk</a>
            </li>
            <li>
                <a data-toggle="tab" href="#stand">Stand for
                    Children</a>
            </li>
        </ul>

    </div>

    <div class="row-fluid">

        <div id="paramount" class="tab active">
            {{ project(
            title='Paramount Pictures',
            description="""
            <p>
            OMBU was honored to develop Paramount Pictures current website.
            This important site features a clean and light design implemented
            with a responsive front-end that automatically adjusts to
            smartphones, tablets, and desktop users. The site makes use of
            cutting-edge HTML5 technologies such as push-state navigation,
            video, and 3D transformations. OMBU's role in the project included
            technical planning, platform and infrastructure development, and
            the migration of Paramount’s extensive movie database. Site design
            by <a href='http://www.sisumedia.com'>Sisu</a>.</p> """,
            features=[
                {
                'caption':'Mobile-friendly frontend in HTML5',
                'image':'pmount-1.jpg',
                },
                {
                'caption':'The Paramount movie library in a live-search grid',
                'image':'pmount-2.jpg',
                },
                {
                'caption':'HTML5 video with embedded social features',
                'image':'pmount-3.jpg',
                },
            ])
            }}
        </div>

        <div id="uolcb" class="tab">
            {{ project(
            title='Lundquist College of Business',
            description="""
            <p>
            OMBU planned and developed a customized CMS for the five schools
            of the University of Oregon's Lundquist College of Busines.
            The College needed a powerful publishing and moderation
            system capable of delivering its message in a forward-looking
            design that could reach their wide audience, on any device. We
            delivered a solution that not only met these requirements, but
            leveraged and extended existing Univeristy systems, such as their
            calander and single sign-on solutions, so this shiny new website
            remained a good neighor in the University's web infrastructure. Site
            design by <a href='http://www.whitehorse.com'>White Horse</a>.</p>""",
            features=[
                {
                'caption':'Stunning responsive design',
                'image':'uolcb-1.jpg',
                },
                {
                'caption':'Integration with social media outlets',
                'image':'uolcb-2.jpg',
                },
                {
                'caption':'Robust publishing and moderation workflow',
                'image':'uolcb-3.jpg',
                },
            ])
            }}
        </div>

        <div id="cartalk" class="tab">
            {{ project(
            title='Car Talk',
            description=""" <p>When the classic NPR radio show Car Talk saw
             that their growing web traffic was starting to clog their servers
             like rush hour traffic on I-95, they came to OMBU for the design and
             management of a cloud-based infrastructure that could handle pretty
             much anything. With that success under the timing belt, we then
             helped them make their porpular content available to smartphone
             users, their largest growing Web segment.</p> """,
            features=[
                {
                'caption':'Mobile Website',
                'image':'cartalk-1.jpg',
                },
                {
                'caption':'Scalable Cloud Infrastructure',
                'image':'cartalk-2.png',
                }
            ])
            }}
        </div>

        <div id="stand" class="tab">
            {{ project(
            title='Stand For Children',
            description="""
            <p>Stand for Children is a national advocacy group for children's
            education, with headquarters in Portland, OR. When they asked for
            assistance with a new site, we raised our hands high above our
            heads. The goal was to deploy a site that wouldn't just serve their
            current needs, but also be the foundation for an ambitious
            multi-year roll-out and keep up with the organization's rapid
            growth. Site design by <a
                href='http://www.swiftcollective.com/'>Swift
                Collective</a>.</p>
            """,
            features=[
                {
                'caption':'Robust content management for multiple state offices',
                'image':'stand-1.jpg',
                },
                {
                'caption':'A petition tool in the spirit of the White House’s "We the People"',
                'image':'stand-2.jpg',
                },
                {
                'caption':'Multi-lingual capabilities',
                'image':'stand-3.jpg',
                },
            ])
            }}
        </div>

    </div><!-- /.row-fluid -->
</div><!-- /.pane -->
