// 
// Base
//
// Base styles
//

html {
  font-size: $base-root-font-size;
}

body {
  color: $color-body;
  font-family: $font-tisapro-regular;
  font-size: $base-font-size;
  line-height: $base-line-height;  

  @media (max-width: $breakpoint-notebook - 1px) {
    font-size: calc(16 / 18 * 1em);
    line-height: calc(28 / 16 * 1em);
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-halisr-medium;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-family: $font-halisr-regular;
  font-size: calc(36 / 16 * 1em);
  line-height: calc(44 / 36 * 1em);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(50 / 18 * 1em);
    line-height: 1.5;
  }
}

h2 {
  font-size: calc(30 / 16 * 1em);
  line-height: 1.4;

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(38 / 18 * 1em);
    line-height: calc(50 / 38 * 1em);    
  }  
}

h3 {
  font-size: calc(26 / 16 * 1em);
  line-height: calc(38 / 26 * 1em);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(32 / 18 * 1em);
    line-height: calc(42 / 32 * 1em);    
  }  
}

h4 {
  font-size: calc(22 / 16 * 1em);
  line-height: calc(32 / 22 * 1em);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(26 / 18 * 1em);
    line-height: calc(38 / 26 * 1em);    
  }  
}

h5 {
  font-size: calc(38 / 16 * 1em);
  line-height: calc(22 / 22 * 1em);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(19 / 18 * 1em);
    line-height: calc(30 / 19 * 1em);    
    text-align: center;    
  }  
}

h6 {
  font-size: calc(16 / 16 * 1em);
  line-height: calc(28 / 16 * 1em);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(18 / 18 * 1em);
    line-height: calc(30 / 18 * 1em);    
  }  
}

p {
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

blockquote {
  background-image: url('../images/quote.svg');
  background-position: 0 2em;
  background-repeat: no-repeat;
  background-size: 24px 17px;
  border-top: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;  
  font-family: $font-tisapro-italic;
  margin: calc(60 / 18 * 1rem) 0;
  padding-left: 34px;
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $breakpoint-notebook) {  
    background-size: 31px 23px;    
    font-size: calc(28 / 18 * 1em);
    line-height: calc(40 / 28 * 1em);
    margin: calc(60 / 18 * 1rem) 0 calc(120 / 18 * 1rem);
    padding-left: 50px;
  }
}

article {
  margin-bottom: 3rem;

  @media (min-width: $breakpoint-notebook) {
    margin-bottom: 5rem;
  }
}

cite {
  display: block;
  font-family: $font-tisapro-regular;
  font-style: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-top: 1em;

  &:before {
    content: "\2014 \20";
  }

  @media (max-width: $breakpoint-notebook - 1px) {
    font-size: calc(16 / 18 * 1em);
    line-height: calc(28 / 16 * 1em);
  }
}

hr {
  border-top: 1px solid $color-gray-light;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

ul,ol {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.5em;

  @media (min-width: $breakpoint-notebook) {
    padding-left: 2em;
  }
}

a {
  color: $color-body;
  text-decoration: none;
  transition: all $transition-duration-default ease;
  @include default-link();

  &:hover,
  &:focus,
  &:active {
    color: $color-primary;
    text-decoration: none;
  }
}

img,iframe,video {
  height: auto;
  max-width: 100%;
}

caption {
  @include caption();
}

// Forms
input[type="text"],
input[type="email"],
input[type="password"] {
  color: $color-purple;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $color-rule-light;
  border-radius: 0;
  box-shadow: none;
  font-size: calc(18 / 16 * 1em);
  line-height: calc(30 / 18 * 1em);  
  padding-bottom: calc(8 / 18 * 1em);
  width: 100%;

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(24 / 18 * 1em);
    line-height: calc(24 / 24 * 1em);   
    padding-bottom: calc(14 / 24 * 1em);
  }

  &::placeholder {
    opacity: 1;
  }
}

input[type="submit"] {
  @include btn-base($color: $color-white, $bg: $color-purple, $border-color: $color-purple);
  transition: all $transition-duration-default ease;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($color-purple, 12%);
    border-color: darken($color-purple, 12%);
  }
}