{% load static %}

<div class="slider">
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery">
      <div class="slider--slide--browser">
        {% include 'svg/browser.svg.html' with url='business.uoregon.edu' %}
        <img src="{% static 'website/images/slider/uo/01@2x.png' %}" alt="Screenshot of University of Oregon Lundquist College of Business website">
        <span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span>
      </div>
    </a>
  </div>
  <div class="slider--slide">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery">
      <div class="slider--slide--browser">
        {% include 'svg/browser.svg.html' with url='business.uoregon.edu' %}
        <img src="{% static 'website/images/slider/uo/02@2x.png' %}" alt="Screenshot of University of Oregon Lundquist College of Business website">
        <span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span>
      </div>
    </a>
  </div>
  <div class="slider--slide slider--slide--has-two-images slider--slide--has-shadow">
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/uo/03@2x.png' %}" alt="Screenshot of University of Oregon Lundquist College of Business website"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
    <div class="slider--slide-image">
      <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/uo/04@2x.png' %}" alt="Screenshot of University of Oregon Lundquist College of Business website"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
    </div>
  </div>
  <div class="slider--slide slider--slide--has-shadow">
    <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/uo/05@2x.png' %}" alt="Screenshot of University of Oregon Lundquist College of Business website"><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
  </div>
</div>
