{% load static %}

<section class="cs-contributions">
  <div class="container">
    <div class="row cs-contributions--content">
      <div class="cs-contributions--media">
        <a href="#video-overlay-modal" class="video-overlay--link">
          <video muted autoplay>
            <source src="{% static contribution_video %}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </a>
      </div>
      <aside class="cs-contributions--contributions cs-sidebar">
        <h2 class="cs-sidebar--title cs-sidebar--title--contributions">Contributions</h2>
        {% include 'features/_skills-grid.html' with skills=contribution_skills %}
      </aside>
    </div>
  </div>
</section>
