{% load static %}

<section class="cs-innovations">
  <div class="ic">
    <div class="ic--title-group container"><h2 class="ic--title">Our Technology Innovations</h2></div>
    <div class="ic--pager-group container">
      <div class="row">
        <div class="ic--pager">
        {% for innovation in innovations %}
          <a href="#ic-slide-{{forloop.counter}}" class="ic--pager-item">{{innovation.title}}</a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="ic--slides">
    {% for innovation in innovations %}
      <div class="ic--slide" id="ic-slide-{{forloop.counter}}" style="background-image: url('{% static innovation.background %}');">
        <div class="container">
          <div class="row">
            <div class="ic--slide-contents">
              <div class="ic--slide-title-group">
                <span class="ic--slide-title">{{innovation.title}}</span>
              </div>
              <div class="ic--slide-text"><span>{% autoescape off %}{{innovation.text}}{% endautoescape %}<span></div>
              {% if innovation.action_text %}
              <div class="ic--slide-actions">
                <a href="#" class="ic--slide-action"><span>{{innovation.action_text}}</span></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
