{% extends 'experimental/exp_base.html' %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title">
        <h1 class="page-title--title page-title--title--prominent">Rings</h1>
      </section>
      <ul class="exp-concept-menu">
        <li>
          <a href="/exp/rings/a">
            <dl class="exp-concept-menu--concept">
              <dt class="exp-concept-menu--concept--name">Concept A</dt>
              <dd class="exp-concept-menu--concept--description">The ring gently appears out of thin air, its stroke increasing from 0px to 10px.  Its gradient undulates slowly.</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="/exp/rings/b">
            <dl class="exp-concept-menu--concept">
              <dt class="exp-concept-menu--concept--name">Concept B</dt>
              <dd class="exp-concept-menu--concept--description">Building on concept A, the ring also draws its shape from a 00:00 starting position but finishes with a thinner 5px stroke.</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="/exp/rings/c">
            <dl class="exp-concept-menu--concept">
              <dt class="exp-concept-menu--concept--name">Concept C</dt>
              <dd class="exp-concept-menu--concept--description">Three interlocking rings draw themselves in sequence.</dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </main>
{% endblock content %}
