/**
 * Theme Colors
 *
 * Named with http://chir.ag/projects/name-that-color
 */

// Colors
$color-white: rgb(255, 255, 255);
$color-body: rgb(67, 94, 116);
$color-primary: rgb(109, 197, 212); // Blue
$color-secondary: rgb(243, 167, 173); // Dusk (light)
$color-secondary-dark: rgb(229, 125, 133); // Dusk (dark)
$color-tertiary: rgb(67, 94, 116); // Midnight
$color-purple: rgb(139, 99, 159);

$color-gray-xtra-light: rgb(245, 247, 248);
$color-gray-light: rgb(185, 188, 191);
$color-gray-medium: rgb(149, 177, 164);

$color-section-border: rgb(209, 216, 221);
$color-rule-light: rgba($color-tertiary, 0.4);

// Custom fonts
$font-halisr-book: 'halis_rbook', 'Helvetica', sans-serif;
$font-halisr-medium: 'halis_rmedium', 'Helvetica', sans-serif;
$font-halisr-regular: 'halis_rregular', 'Helvetica', sans-serif;
$font-halisr-bold: 'halis_rbold', 'Helvetica', sans-serif;
$font-halisr-light: 'halis_rlight', 'Helvetica', sans-serif;

$font-tisapro-regular: 'tisaproregular', 'Georgia', serif;
$font-tisapro-bold: 'tisaprobold', 'Georgia', serif;
$font-tisapro-italic: 'tisaproitalic', 'Georgia', serif;
$font-tisapro-bold-italic: 'tisaproitalicbold', 'Georgia', serif;

// Font sizes
$base-root-font-size: 18px;
$base-font-size: 18px;
$base-line-height: calc(30 / 18 * 1em);

// Transition effects
$transition-duration-default: 0.2s;
$transition-duration-slow: 0.4s;

// Gutters and breakpoints
$gutter-side-tile: 20px;
$gutter-side-mobile: 20px;
$gutter-side-tablet: 20px;
$gutter-side-desktop: 70px;

$breakpoint-smartphone-landscape: 400px;
$breakpoint-tablet: 768px;
$breakpoint-notebook: 992px;
$breakpoint-desktop: 1200px;

$max-site-width: 1300px;

// Custom margins
$block-margin-mobile: 5rem;
$block-margin-desktop: calc(160 / 18 * 1rem);
$callout-gap: calc(40 / 18 * 1rem);

// Ring metrics
$ring-count: 3;
$ring-width: 270;
$ring-chain-offset: 50;
$chain-width: ($ring-width * $ring-count) - ($ring-chain-offset * ($ring-count - 1));
$ring-pos-left: percentage(($ring-width - $ring-chain-offset) / $chain-width);
$transition-duration: 0.75s;
$transition-stagger-factor: 0.5;
$stroke-width-start: 0px;
$stroke-width-final: 3px;

// Page transition metrics
$border-width-resting: 15px;
$border-width-resting-desktop: 60px;
$border-width-transition: 0;
$border-width-transition-desktop: 0;
$border-transition-duration-baseline: 0.5s;

// Modal metrics
$modal-padding: 30px;