// Custom ../fonts

// Halis Rounded
@font-face {
  font-family: 'halis_rbook';
  src: url('../fonts/halisr/halisr-book-webfont.woff2') format('woff2'),
       url('../fonts/halisr/halisr-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halis_rmedium';
  src: url('../fonts/halisr/halisr-medium-webfont.woff2') format('woff2'),
       url('../fonts/halisr/halisr-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halis_rregular';
  src: url('../fonts/halisr/halisr-regular-webfont.woff2') format('woff2'),
       url('../fonts/halisr/halisr-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halis_rbold';
  src: url('../fonts/halisr/halisr-bold-webfont.woff2') format('woff2'),
       url('../fonts/halisr/halisr-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halis_rlight';
  src: url('../fonts/halisr/halisr-light-webfont.woff2') format('woff2'),
       url('../fonts/halisr/halisr-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Tisa Pro

@font-face {
  font-family: 'tisaprobold';
  src: url('../fonts/tisapro/tisapro-bold-webfont.woff2') format('woff2'),
       url('../fonts/tisapro/tisapro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisaproitalicbold';
  src: url('../fonts/tisapro/tisapro-boldita-webfont.woff2') format('woff2'),
       url('../fonts/tisapro/tisapro-boldita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisaproitalic';
  src: url('../fonts/tisapro/tisapro-ita-webfont.woff2') format('woff2'),
       url('../fonts/tisapro/tisapro-ita-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisaproregular';
  src: url('../fonts/tisapro/tisapro-regular-webfont.woff2') format('woff2'),
       url('../fonts/tisapro/tisapro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}