// Mixins

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin default-link() {
  background-image: linear-gradient(to top, transparent 0, transparent 2px, $color-body 2px, transparent 3px, transparent 100%);

  &:hover,
  &:focus {
    background-image: linear-gradient(to top, transparent 0, transparent 2px, $color-primary 2px, transparent 3px, transparent 100%);
  }
}

@mixin default-link-off() {
  &,
  &:hover,
  &:focus {  
    background-image: none;
  }
}

// Helper function for arrow svg
@mixin arrow-right-long($color: $color-primary) {
  padding-right: 33px;
  position: relative;

  &:after {
    background-color: $color;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    right: 0;
    top: 9px;
    width: 24px;
    -webkit-mask-image: url('../images/arrow-right-long.svg');
    mask-image: url('../images/arrow-right-long.svg');
    transition: all $transition-duration-default ease;
  }

  &:hover,
  &:focus,
  &:active {
    &:after {
      background-color: darken($color, 12%);
    }
  }
}

// Captions
@mixin caption() {
  display: block;
  font-family: $font-halisr-regular;
  font-size: calc(12 / 18 * 1em);
  line-height: 1.5;
  margin-top: 0.5rem;
}

// Buttons
@mixin btn-base($color: $color-white, $bg: $color-primary, $border-color: $color-primary) {
  background-color: $bg;
  background-image: none;
  border: 2px solid $border-color;
  border-radius: 100px;
  color: $color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-halisr-bold;
  font-size: 1rem;
  line-height: calc(32 / 18 * 1em);
  margin-bottom: 0;
  padding: calc(7 / 18 * 1em) 1em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include default-link-off();  

  &:hover,
  &:focus {
    color: $color;
    text-decoration: none;
  }
}

@mixin btn-primary() {
  @include btn-base($color: $color-white, $bg: $color-primary, $border-color: $color-primary);

  &:hover,
  &:focus,
  &:active {
    background-color: darken($color-primary, 12%);
    border-color: darken($color-primary, 12%);
  }
}

@mixin btn-secondary() {
  @include btn-base($color: $color-primary, $bg: transparent, $border-color: $color-primary);

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border-color: darken($color-primary, 12%);
    color: darken($color-primary, 12%);
  }  
}

@mixin btn-tertiary() {
  @include arrow-right-long();
  color: $color-primary;
  display: inline-block;
  font-family: $font-halisr-regular;
  @include default-link-off();

  &:hover,
  &:focus,
  &:active {
    color: darken($color-primary, 12%);
    text-decoration: none;
  }
}

@mixin btn-download() {
  @include btn-base($color: $color-white, $bg: transparent, $border-color: $color-white);

  svg {
    height: 16px;
    margin-left: 0.5rem;
    width: 16px;
    transform: rotate(90deg);

    * {
      stroke: $color-white;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $color-white;
    color: $color-tertiary;
     svg {
      * {
        stroke: $color-tertiary;
      }
    } 
  }
}

// Section styles
@mixin section-bg() {
  background-color: $color-gray-xtra-light;
  border-top: 1px solid $color-section-border;
  border-bottom: 1px solid $color-section-border;
}

// Browser chrome
$browser-chrome-position-top: 6px;
$browser-chrome-height: 17px;
$browser-chrome-border-color: rgb(206, 206, 206);

@mixin browser-chrome() {
  border: 1px solid $browser-chrome-border-color;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  overflow: hidden;
  padding-top: 29px;
  position: relative;

  &:after {
    border: 1px solid $browser-chrome-border-color;
    border-radius: 2px;
    content: "";
    display: block;
    height: $browser-chrome-height;
    left: 52px;
    position: absolute;
    top: $browser-chrome-position-top;
    width: calc(100% - 62px;)
  }

  svg {
    height: $browser-chrome-height;
    left: 12px;
    position: absolute;
    top: $browser-chrome-position-top;
  } 

  img {
    border-top: 1px solid $browser-chrome-border-color;
    border-radius: 0 0 4px 4px;
  }
}

// To be used in conjunction with browser-chrome()
@mixin browser-chrome-mobile() {
  &:after {
    left: 10px;
    width: calc(100% - 20px);
  }

  svg {
    left: 0;
    right: 0;
    width: 100%;
  }
}