$border-width-min: 30px;
$border-width-max: 60px;
$border-width-max-desktop: 100px;

.exp-transitions {
  padding: $border-width-max;
}

.exp-transitions #footer {
  margin-top: 150vh;
}

.exp-transitions--artwork {
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-tablet) {
    max-width: 400px;
    margin-top: -200px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: 600px;
    margin-top: -250px;
  }
}

.exp-transitions--artwork--svg {
  display: block;
}

.exp-transitions--page-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  transform: translate3d(0,0,0);

  rect {
    fill: transparent;
    stroke-width: $border-width-min;
    stroke: url(#exp-transitions--page-border--gradient);
    vector-effect: non-scaling-stroke;
  }
}

.exp-transitions--page-links {
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (min-width: $breakpoint-tablet) {
    margin-top: 50px;
    position: relative;
  }
}

.exp-transitions--page-link {
  margin: 1.0em 0;

  @media screen and (min-width: $breakpoint-tablet) {
    position: absolute;
    top: 0;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }
}

.exp-transitions.animate-init {
  .exp-transitions--page-border rect {
    stroke-width: $border-width-max;
    transition: stroke-width 0 ease;

    @media screen and (min-width: $breakpoint-desktop) {
      stroke-width: $border-width-max-desktop;
    }
  }

  .exp-transitions--artwork, .exp-transitions--page-links {
    opacity: 0;
    transition: opacity 0 ease;
  }
}

.exp-transitions.animate-in {
  .exp-transitions--page-border rect {
    stroke-width: $border-width-min;
    transition-duration: 0.5s;
  }

  .exp-transitions--artwork {
    opacity: 1;
    transition-duration: 0.5s;
  }

  .exp-transitions--page-links {
    opacity: 1;
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}

.exp-transitions.animate-out {
  .exp-transitions--page-border rect {
    stroke-width: $border-width-max;
    transition-duration: 0.5s;

    @media screen and (min-width: $breakpoint-desktop) {
      stroke-width: $border-width-max-desktop;
    }
  }

  .exp-transitions--artwork {
    opacity: 0;
    transition-duration: 0.5s;
  }

  .exp-transitions--page-links {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0s;
  }
}
