// Header

#header {
  padding-bottom: calc(56 / 18 * 1rem);
  padding-top: calc(30 / 18 * 1rem);

  @media (min-width: $breakpoint-desktop) {
    padding-bottom: calc(70 / 18 * 1rem);
    padding-top: calc(70 / 18 * 1rem);
  }

  &.header--project {
    background-color: $color-gray-xtra-light;
    border-bottom: 1px solid $color-section-border;
    margin-bottom: calc(30 / 18 * 1rem);
    padding-bottom: calc(17 / 18 * 1rem);

    @media (min-width: $breakpoint-tablet) {
      padding-bottom: calc(30 / 18 * 1rem);
    }

    @media (min-width: $breakpoint-desktop) {
      margin-bottom: calc(58 / 18 * 1rem);
      padding-bottom: calc(30 / 18 * 1rem);
    }
  }

  &.header--with-supplement {
    padding-bottom: calc(10 / 18 * 1rem);
    
    @media (min-width: $breakpoint-tablet) {
      padding-bottom: calc(33 / 18 * 1rem);
    }
  }
}

.header--contents {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header--project & {
    padding-bottom: calc(30 / 18 * 1rem);

    @media (min-width: $breakpoint-desktop) {
      padding-bottom: calc(55 / 18 * 1rem);
    }
  }

  .header--with-supplement & {
    @media (max-width: $breakpoint-tablet - 1px) {
      flex-wrap: wrap;
    }
    @media (min-width: $breakpoint-tablet) {
      align-items: flex-end;
    }    
  }
}

.header--logo {
  background-image: none;
  display: block;
  flex: 0 0 auto;
  @include default-link-off();  

  svg {
    height: 30px;
    vertical-align: top;

    @media (min-width: $breakpoint-tablet) {
      height: 37px;
    }
  }
}

.header--menu-toggle {
  flex: 0 0 auto;
  @include default-link-off();

  span {
    @include element-invisible;
  }

  svg {
    height: 30px;
    width: 30px;  
    vertical-align: top;  
    
    * {
      fill: $color-primary;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    background-color: $color-primary;
    border-radius: 100%;
    display: block;
    height: 70px;
    position: relative;
    width: 70px;

    svg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      * {
        fill: $color-white;
      }
    }
  }  
}

// Supplement
.header--title-supplement {
  font-family: $font-halisr-regular;

  @media (max-width: $breakpoint-tablet - 1px) {
    flex-basis: 100%;
    font-size: calc(24 / 16 * 1em);
    line-height: calc(40 / 24 * 1em);
    margin-top: calc(10 / 18 * 1rem);
    order: 3;
  }

  @media (min-width: $breakpoint-tablet) {
    flex: 1 1 auto;
    font-size: calc(32 / 18 * 1em);
    line-height: calc(24 / 32 * 1em);   
    margin-left: calc(12 / 18 * 1rem); 
  }
}