// Navigation

html.navigation--active {
  &,body {
    max-height: 1px;
    overflow: hidden;
  }
}

.navigation--label,
.navigation--primary-group-label {
  @include element-invisible;
}

.navigation {
  background-color: $color-white;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: all $transition-duration-default ease;
  visibility: hidden;
  z-index: 5;

  &:after {
    background-image: linear-gradient(to right, $color-primary, $color-secondary);
    content: "";
    height: $border-width-resting / 2;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    @media (min-width: $breakpoint-notebook) {
      height: $border-width-resting-desktop / 2;
    }
  }

  &.navigation--active {
    opacity: 1;
    visibility: visible;
  }
}

.navigation--contents {
  @media (min-width: $breakpoint-notebook) {
    @include clearfix();
    position: relative;
  }
}

.navigation--actions {

  @media (max-width: $breakpoint-notebook - 1px) {
    align-items: center;
    height: 5rem;
    display: flex;
    justify-content: flex-end;    
  }

  @media (min-width: $breakpoint-notebook) {
    padding-bottom: calc(18 / 18 * 1em);
    padding-top: calc(70 / 18 * 1em);
    @include clearfix();
  }
}

.header--menu-close {
  display: block;
  @include default-link-off();  

  svg {
    height: 30px;
    width: 30px;
  }

  @media (min-width: $breakpoint-notebook) {
    border: 2px solid $color-body;
    border-radius: 100%;
    float: right;
    height: 70px;
    position: relative;
    width: 70px;

    svg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.navigation--primary {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navigation--primary-group {

}

.navigation--primary-group.navigation--primary-group--single-item {
  @media (min-width: $breakpoint-notebook) {  
    margin-top: calc(30 / 18 * 1rem);
  }
}

.navigation--primary-group.navigation--primary-group--has-secondary {
  @media (min-width: $breakpoint-notebook) {
    align-items: flex-start;
    border-bottom: 1px solid $color-gray-medium;
    display: flex;
    min-height: 10rem;
    padding-bottom: calc(27 / 18 * 1em);
    padding-top: calc(27 / 18 * 1em);      
  }
}

.navigation--primary-link-wrapper {
  border-top: 1px solid $color-gray-medium; 
  display: block;

  .navigation--primary-group:first-child & {
    border-top: none;
  }  

  @media (min-width: $breakpoint-notebook) {
    border-top: none;
    flex: 0 0 auto;
    width: 20%;  
  }
}

.navigation--primary-link {
  display: block;
  font-family: $font-halisr-regular;
  font-size: calc(28 / 16 * 1em);
  line-height: calc(36 / 28);
  @include default-link-off();

  @media (max-width: $breakpoint-notebook - 1px) { 
    padding-bottom: calc(16 / 28 * 1em);
    padding-top: calc(16 / 28 * 1em);    
    text-decoration: none;
    
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    } 
  }

  @media (min-width: $breakpoint-notebook) {
    display: inline-block;    
    font-size: calc(26 / 18 * 1em);
    line-height: calc(34 / 26 * 1em);
    
    > span {
      display: inline-block;
      @include default-link();
    }    
  }
}

.navigation--secondary {
  @media (max-width: $breakpoint-notebook - 1px) {
    display: none;
  }

  @media (min-width: $breakpoint-notebook) {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -$gutter-side-tile;
    margin-right: -$gutter-side-tile;
    padding-left: 0;
    width: calc(80% + (2 * #{$gutter-side-tile}));
  }
}

.navigation--secondary-item {
  @media (min-width: $breakpoint-notebook) {
    flex: 0 0 auto;
    font-size: calc(16 / 18 * 1em);
    line-height: calc(28 / 16 * 1em);
    margin-top: calc(8 / 18 * 1em);
    padding-left: $gutter-side-tile;
    padding-right: $gutter-side-tile;
    width: 25%;
  }
}

.navigation--secondary-link-wrapper.navigation--secondary-link-wrapper--cta {
  text-align: right;
}

.navigation--secondary-link {
  @media (min-width: $breakpoint-notebook) {
    display: inline-block;
    font-family: $font-halisr-regular;
    margin-bottom: calc(8 / 18 * 1em);
    @include default-link-off();

    > span {
      display: inline-block;
      @include default-link();
    }
  }  
}

.navigation--secondary-link.navigation--secondary-link--cta {
  @include btn-tertiary();

  &:after {
    top: 6px;
  }

  > span {
    @include default-link-off();
  }
}

.navigation--secondary-contact-link {
  background-image: none;

  &:hover,
  &:focus {
    background-image: none;
  }
}

.navigation--background {
  @media (max-width: $breakpoint-notebook - 1px) {
    display: none;
  }

  @media (min-width: $breakpoint-notebook) {
    bottom: 0;
    height: 805px;
    left: 0;
    position: fixed;
    transform: translateX(-47%);
    width: 1075px;
    z-index: -1;

    svg {
      height: 100%;
      width: 100%;
      vertical-align: top;
    }
  }
}
