// Page Title

.page-title.page-title--page-title--has-info {
  @include make-row();
}

.page-title--title {
  margin-top: 0;
  text-align: center;
}

.page-title--title.page-title--title--banner {
  color: $color-white;
  font-size: calc(28 / 16 * 1em);
  line-height: calc(35 / 28 * 1em);
  margin-top: calc(15 / 28 * 1em);
  text-align: left;

  @media (max-width: $breakpoint-notebook - 1px) {
    br {
      display: none;
    }
  }

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(48 / 18 * 1em);
    line-height: 1.25;
    margin-top: calc(20 / 48 * 1em);
  }
}

.page-title--subtitle.page-title--subtitle--banner {
  color: $color-white;
  font-family: $font-halisr-regular;
  font-size: calc(14 / 16 * 1em);
  line-height: calc(25 / 14 * 1em);
  margin-top: calc(5 / 14 * 1em);
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(24 / 18 * 1em);
    line-height: 1.25;
    margin-top: calc(10 / 24 * 1em);
  }
}

.page-title--title.page-title--title--prominent {
  margin-top: 0;
  
  @media (min-width: $breakpoint-notebook) {
    font-size: calc(65 / 18 * 1em);
    line-height: calc(80 / 65 * 1em);   
    margin-top: 0.4em;
  }
}

.page-title--title.page-title--title--project {
  margin-bottom: calc(20 / 36 * 1em);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(46 / 18 * 1em);
    line-height: 1.2;
    margin-bottom: calc(30 / 50 * 1em);
    text-align: left;
  }
}

.page-title--title.page-title--title--has-info {
  margin-bottom: calc(20 / 36 * 1em);
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(12);
  @include make-lg-column(10);
  @include make-lg-column-push(1);

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(46 / 18 * 1em);
    line-height: calc(69 / 46 * 1em);
    margin-bottom: calc(18 / 46 * 1em);
    text-align: left;    
  }
}

.page-title--subtitle {
  font-family: $font-halisr-medium;
  font-size: calc(19 / 16 * 1em);
  line-height: calc(30 / 19 * 1em);
  text-align: center;

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(22 / 18 * 1em);
    line-height: calc(33 / 22 * 1em);
  }

  .page-title--title + & {
    margin-top: calc(-26 / 18 * 1rem);

    @media (min-width: $breakpoint-notebook) {
      margin-top: calc(-37 / 18 * 1rem);
    }
  }
}

.page-title--supplementary-info {
  @include clearfix();

  @media (min-width: $breakpoint-notebook) {
    margin-bottom: calc(160 / 18 * 1rem);
  }
}

.page-title--body {
  font-size: calc(20 / 16 * 1em);
  line-height: calc(32 / 20 * 1em);
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(8);
  @include make-lg-column(6);
  @include make-lg-column-push(1);

  @media (max-width: $breakpoint-notebook - 1px) {
    border-bottom: 1px solid $color-section-border;
    padding-bottom: calc(60 / 18 * 1rem);
    margin-bottom: calc(60 / 18 * 1rem);
    text-align: justify;
  }

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(28 / 18 * 1em);
    line-height: calc(58 / 28 * 1em);
  }
}

.page-title--cta {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(4);
  @include make-lg-column(3);
  @include make-lg-column-push(2);

  @media (max-width: $breakpoint-notebook - 1px) {
    margin-bottom: calc(60 / 18 * 1rem);
    text-align: center;
  }
}

.page-title--cta-label {
  font-family: $font-halisr-medium;
  font-size: calc(16 / 16 * 1em);
  line-height: calc(28 / 16 * 1em);
  margin-bottom: calc(20 / 16 * 1em);
  margin-top: 0;

  @media (min-width: $breakpoint-notebook) {
    font-size: calc(18 / 18 * 1em);
    line-height: calc(30 / 18 * 1em);
    margin-bottom: calc(20 / 18 * 1em);
    margin-top: 0;
  }
}

.page-title--menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-title--menu-link {
  display: block;
  padding-top: calc(5 / 18 * 1rem);
  padding-bottom: calc(5 / 18 * 1rem);
}

.page-title--menu-link.page-title--menu-link--cta {
  @include btn-tertiary();
  margin-top: calc(13 / 18 * 1rem);
  padding-top: 0;
  padding-bottom: 0;

  @media (max-width: $breakpoint-notebook - 1px) {
    display: none;
  }
}

// Banner
.page-title.page-title--banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;  
  margin-bottom: calc(40 / 18 * 1rem);
  min-height: calc(250 / 18 * 1rem);

  @media (min-width: $breakpoint-notebook) {
    margin-bottom: calc(90 / 18 * 1rem);
    min-height: calc(500 / 18 * 1rem);
  }
}

.page-title--banner-main {
  @media (min-width: $breakpoint-notebook) {
    display: flex;
  }  
}

.page-title--banner-primary {
  @media (min-width: $breakpoint-notebook) {
    flex: 1 1 auto;
  }
}

.page-title--banner-secondary {
  @media (max-width: $breakpoint-notebook - 1px) {
    display: none;
  }
}

.page-title--action.page-title--action--banner {
  margin-top: calc(33 / 18 * 1rem);
  @include btn-download();
}