{% load static %}

<h6>Get people what they need&nbsp;quickly</h6>
<p>The Oregon Convention Center’s audiences fall into three groups: visitors, exhibitors and event planners. To help
  each audience find their relevant information quickly, we designed a prominent audience bar that whisks visitors
  into content areas curated for their needs.</p>
<p>We also promoted the most important links for each audience so, with one tap, exhibitors can order
  services, planners can view floor plans, and visitors can find parking.</p>
<p>And we identified a small number of resources that anyone should be able to find immediately. For example, parking
  in the busy Lloyd District can be tricky, so we promoted parking and a handful of
  other key links to the very top, and made them especially prominent on mobile.</p>
<div class="ombuassets-image ombuassets-image-align-center">
  <img src="{% static 'website/images/project-images/occ/event-calendar@2x.png' %}"
       alt="Screenshot of the Oregon Convention Center website’s event calendar">
</div>
<h6>I’m hungry! What can I&nbsp;eat?</h6>
<p>During Discovery, we learned a significant share of the convention center’s revenue comes from the concessions
   located throughout the building. However, the venue hours follow events, so it can be challenging for
  a visitor to find out whether their favorite coffee shop is open.</p>
<div class="ombuassets-image ombuassets-image-align-left pull-left image-overlay">
  {# The following thumbnail should open a different image in its overlay: 'website/images/project-images/occ/eat-now-smartphone@2x.png' #}
  <a href="#image-overlay-modal" class="image-overlay--link"
     data-img="{% static 'website/images/project-images/occ/eat-now-smartphone@2x.png' %}"><img
          src="{% static 'website/images/project-images/occ/eat-now-clock@2x.png' %}" width="130" height="130"
          alt="A screenshot of the realtime clock element in Oregon Convention Center’s Eat Now website feature"><span
          class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></a>
</div>
<p>So we devised the one-tap “Eat Now” feature. This unique function integrates with the convention center’s existing
  scheduling system to help hungry
  convention-goers quickly find the food options currently open around them.</p>
<h6>OCC is people</h6>
<p>During the project, we were acquainted with much of the OCC staff. From the OCC administration, to operations and A/V, catering, security, everyone we met was passionate and professional. It
   became clear to us that OCC's greatest asset is its team. So we looked for an opportunity to showcase this
  on the website.</p>
<p>Throughout the site, we highlight staff faces and provide direct contact information where possible. And we
  implemented a real-time web chat, not with a bot, but with the expert and passionate members of the OCC staff. When
  members are available to help, they can sign in to support visitors with real-time answers and the human touch that
  makes OCC so special.</p>
