{% load static %}

{% if navex %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title"><span class="callout--title-prefix">NAVEX Global</span> Enterprise Content Management for a Global Ethics&nbsp;Leader</h2>
    <div class="callout--body rte">
      <p>
        NAVEX Global, an ethics and compliance company, needed content management tools capable of
        keeping up with their rapid global expansion. We created a website with content marketing tools to help NAVEX
        quickly establish their global industry leadership position.
      </p>
    </div>
    <a href="{% url 'case-study-navex' %}" class="callout--cta">Read the Case Study</a>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    {% if fullwidth %}
      <a href="{% url 'case-study-navex' %}"><img class="lazy" data-src="{% static 'website/images/case-studies/navex/hero-slim@2x.jpg' %}" alt="NAVEX Global screenshot"></a>
    {% else %}
      <div class="browser-chrome">
        {% include 'svg/browser.svg.html' with url='navexglobal.com' %}
        <img class="lazy" data-src="{% static 'website/images/case-studies/navex/callout@1x.jpg' %}" alt="NAVEX Global screenshot">
      </div>
    {% endif %}
  </aside>
</div>

{% elif nwpp %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title"><span class="callout--title-prefix">Northwest Power&nbsp;Pool</span> Modernizing Power Utility&nbsp;Training</h2>
    <div class="callout--body rte">
      <p>OMBU created a cutting-edge training platform for power utilities, so power plant operators can keep up-to-date on mandated certifications and the latest trends.</p>
    </div>
    <a href="{% url 'case-study-nwpp' %}" class="callout--cta">Read the Case Study</a>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    {% if fullwidth %}
      <a href="{% url 'case-study-nwpp' %}"><img class="lazy" data-src="{% static 'website/images/case-studies/nwpp/hero-slim@2x.jpg' %}" alt="NWPP screenshot"></a>
    {% else %}
      <div class="colored-bg">
        <div class="colored-bg--inner">
          <div class="browser-chrome browser-chrome--mobile">
            {% include 'svg/browser-mobile.svg.html' with url='http://nwpp.info/' %}
            <img class="lazy" data-src="{% static 'website/images/callout/callout_nwpp-1.png' %}" alt="NWPP screenshot">
          </div>
        </div>
      </div>
    {% endif %}
  </aside>
</div>

{% elif sa %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title"><span class="callout--title-prefix">Saturday Academy</span> Inspiring the Next Generation of Scientists, Engineers and&nbsp;Artists</h2>
    <div class="callout--body rte">
      <p>
        Saturday Academy offers over 700 STEAM-curriculum classes per year, but registration was cumbersome for parents
        and data management was overwhelming for a small staff. OMBU implemented an integrated solution based on a
        new website and a nonprofit Salesforce CRM to enable families to register for classes, engage with mentors, and
        give Saturday Academy real time access to registration data and outcomes.
      </p>
    </div>
    <a href="{% url 'case-study-sa' %}" class="callout--cta">Read the Case Study</a>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    {% if fullwidth %}
      <a href="{% url 'case-study-sa' %}"><img class="lazy" data-src="{% static 'website/images/case-studies/sa/hero-slim@2x.jpg' %}" alt="Saturday Academy screenshot"></a>
    {% else %}
      <div class="browser-chrome">
        {% include 'svg/browser.svg.html' with url='saturdayacademy.org' %}
        <img class="lazy" data-src="{% static 'website/images/case-studies/sa/callout@1x.jpg' %}" alt="Saturday Academy screenshot">
      </div>
    {% endif %}
  </aside>
</div>

{% elif story %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Our Story</h2>
    <div class="callout--body rte">
      <p>OMBU was founded in 2009 by Martin Rio, who drove across the country from Washington D.C. to Portland in a VW
        bus with a laptop, a phone, and a burning passion for technology. In 2012, we launched
        a redesigned paramount.com for Paramount Pictures, proving that a small team of top talent can build big things
        on the&nbsp;web.</p>
      <p>Since then, we’ve worked with clients like the Smithsonian Institute, Car Talk, Nike, and Stand for Children to
        come up with great ideas that turn into business-critical&nbsp;applications.</p>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img class="lazy" width="440" height="440" data-src="{% static 'website/images/callout/about-story@2x.png' %}" alt="A tinted photo of a vintage Volkswagen bus">
  </aside>
</div>

{% elif enterprise %}
<div id="enterprise-cms" class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Content Management</h2>
    <div class="callout--body rte">
      <p>
        We design and build modern websites powered by enterprise content management systems (CMS) that empower
        clients with full control of their digital messaging and engagement platforms, are easy to adopt and
        built to adapt quickly to evolving marketing and business needs.
      </p>
      <ul>
        <li>Content moderation and auditing&nbsp;workflows</li>
        <li>Flexible page and form builders</li>
        <li>Integrations with other business services</li>
        <li>Support for global audiences</li>
        <li>Accessibility compliance</li>
        <li>Secure and scalable cloud deployment</li>
      </ul>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img class="lazy" data-src="{% static 'website/images/callout/callout_enterprise.png' %}" alt="Enterprise Graphics">
  </aside>
</div>

{% elif business %}
  <div id="custom-applications"
       class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
    <div class="callout--content">
      <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Custom Applications</h2>
      <div class="callout--body rte">
        <p>
          We help organizations meet ambitious goals and accelerate growth by implementing custom business applications
          that enable them to accelerate business process, connect with their audiences more effectively, and make
          sense of large amounts business data. We have a proven track record of delivering transformative value, aligned
          with time and budget constraints.</p>
        <ul>
          <li>Customer engagement platforms</li>
          <li>Data processing pipelines and dashboards</li>
          <li>Learning systems</li>
          <li>Community organizing apps</li>
          <li>Map-based planning tools</li>
          <li>Business process management apps</li>
        </ul>
      </div>
    </div>
    <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
      <img class="lazy" data-src="{% static 'website/images/callout/callout_business.png' %}" alt="Business Graphics">
    </aside>
  </div>

{% elif infrastructure %}
  <div id="infrastructure"
       class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
    <div class="callout--content">
      <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Infrastructure</h2>
      <div class="callout--body rte">
        <p>
          Cloud computing changed software development forever. OMBU’s expertise with Amazon Web Services enables
          us to build applications and hosting solutions for our clients, with capabilities and cost efficiencies
          previously accessible only to the largest enterprises.
        </p>
        <ul>
          <li><a href="https://aws.amazon.com/partners/find/partnerdetails/?n=OMBU&id=001E000000Rp5YHIAZ">Amazon Web Services partners since 2012</a></li>
          <li>Infrastructure design, consulting and implementation</li>
          <li>High-availability (HA), auto scaling, and self healing solutions</li>
          <li>Continuous delivery pipelines</li>
          <li>Enterprise cloud migration</li>
          <li>Application migration to containers or serverless</li>
          <li>White-glove maintenance service</li>
        </ul>
      </div>
    </div>
    <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
      <img class="lazy" data-src="{% static 'website/images/callout/callout_infrastructure.png' %}" alt="Infrastructure Graphics">
    </aside>
  </div>

{% elif technology %}
<div id="technology-strategy" class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Technology Strategy</h2>
    <div class="callout--body rte">
      <p>Who’s looking out for your technology? How do you know you’re making the smartest&nbsp;choices?</p>
      <p>Our clients are experts in their fields — and we’re experts in the web. We help guide our clients’ tech
        strategy, so we build the right solution and maximize budget and&nbsp;impact.</p>
      <ul>
        <li>Smarter decisions through&nbsp;discovery</li>
        <li>Pick the right&nbsp;technologies</li>
        <li>Putting you in control of your tech&nbsp;budget</li>
      </ul>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img class="lazy" data-src="{% static 'website/images/callout/callout_technology.png' %}" alt="Technology Graphics">
  </aside>
</div>

{% endif %}
