<div class="contact">
  <form>
    <div class="contact--primary">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="What's your name?">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="What's your email address?">
      </div>    
      <div class="form-group">
        <label for="role">Job Role</label>
        <input id="role" type="text" name="role" placeholder="What's your job role?">
      </div>  
    </div>   
    <div class="contact--secondary">
      <div class="form-group form-group--vision">
        <label for="vision">Vision</label>
        <input id="vision" type="text" name="vision" placeholder="What's your vision?">
      </div>  
    </div> 
    <div class="contact--actions">
      <input class="contact--submit" value="Send" type="submit">
    </div>
  </form>
</div>