{% load static %}

{% if caseStudyEnterprise %}
<div class="cta-card">
  <div class="cta-card--inner">
    <div class="cta-card--primary">
      <div class="cta-card--title-group">
        <div class="cta-card--label">Case Study</div>
        <h3 class="cta-card--title">NAVEX Global</h3>
      </div>
      <div class="cta-card--media"><img class="lazy" data-src="{% static 'website/images/card-icon_navex.png' %}" alt="Business Graphics"></div>
    </div>
    <div class="cta-card--body">NAVEX Global formed in 2012 to become the leader in Ethics & Compliance
      and has retained OMBU since then.<br><br>Read how OMBU created an enterprise CMS for NAVEX that supported global
      expansion to seven locales.
    </div>
    <a href="{% url 'case-study-navex' %}" class="cta-card--cta{% if secondary %} cta-card--cta--secondary{% endif %}">Read
      the Case Study</a>
  </div>
</div>

{% elif whitepaperEnterprise %}
<div class="cta-card">
  <div class="cta-card--inner">
    <div class="cta-card--primary">
      <div class="cta-card--title-group">
        <div class="cta-card--label">White Paper</div>
        <h3 class="cta-card--title">What Is an Enterprise&nbsp;CMS?</h3>
      </div>
    </div>
    <a href="#" class="cta-card--cta{% if secondary %} cta-card--cta--secondary{% endif %}">Download the White Paper{% if secondary %}{% include 'svg/arrow-right-long.svg.html' %}{% endif %}</a>
  </div>
</div>

{% elif caseStudyBusiness %}
<div class="cta-card">
  <div class="cta-card--inner">
    <div class="cta-card--primary">
      <div class="cta-card--title-group">
        <div class="cta-card--label">Case Study</div>
        <h3 class="cta-card--title">Northwest Power Pool</h3>
      </div>
      <div class="cta-card--media"><img class="lazy" data-src="{% static 'website/images/card-icon_nwpp.png' %}" alt="Business Graphics"></div>
    </div>
    <div class="cta-card--body">Read how OMBU partnered with NWPP to create a next-generation learning system for this coalition of major power generation utilities in the Northwestern U.S and Canada.</div>
    <a href="{% url 'case-study-nwpp' %}" class="cta-card--cta{% if secondary %} cta-card--cta--secondary{% endif %}">Read the Case Study</a>
  </div>
</div>

{% elif whitepaperDevOps %}
<div class="cta-card">
  <div class="cta-card--inner">
    <div class="cta-card--primary">
      <div class="cta-card--title-group">
        <div class="cta-card--label">White Paper</div>
        <h3 class="cta-card--title">Eliminate the Server Room: Cutting Costs with Cloud&nbsp;DevOps</h3>
      </div>
    </div>
    <a href="#" class="cta-card--cta{% if secondary %} cta-card--cta--secondary{% endif %}">Download the White Paper{% if secondary %}{% include 'svg/arrow-right-long.svg.html' %}{% endif %}</a>
  </div>
</div>

{% elif caseStudyTechnology %}
<div class="cta-card">
  <div class="cta-card--inner">
    <div class="cta-card--primary">
      <div class="cta-card--title-group">
        <div class="cta-card--label">Case Study</div>
        <h3 class="cta-card--title">Saturday Academy Reaching the Next Generation of Scientists, Engineers, and&nbsp;Artists</h3>
      </div>
      <div class="cta-card--media"><img class="lazy" data-src="{% static 'website/images/card-icon_sa.png' %}" alt="Business Graphics"></div>
    </div>
    <div class="cta-card--body">Lorem ipsum dolor sit amet, consec tetur adipi sicing elit, sed do eius mod tempor inci did unt ut labore et dolore magna.</div>
    <a href="{% url 'case-study-sa' %}" class="cta-card--cta{% if secondary %} cta-card--cta--secondary{% endif %}">Read the Case Study</a>
  </div>
</div>

{% elif whitepaperTechnology %}
<div class="cta-card">
  <div class="cta-card--inner">
    <div class="cta-card--primary">
      <div class="cta-card--title-group">
        <div class="cta-card--label">White Paper</div>
        <h3 class="cta-card--title">Increase Stakeholder Buy-in with Discovery&nbsp;Workshops</h3>
      </div>
    </div>
    <a href="#" class="cta-card--cta{% if secondary %} cta-card--cta--secondary{% endif %}">Download the White&nbsp;Paper{% if secondary %}{% include 'svg/arrow-right-long.svg.html' %}{% endif %}</a>
  </div>
</div>

{% endif %}
