{% load static %}

{# Generic #}
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-032.png' %}" sizes="32x32">
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-057.png' %}" sizes="57x57">
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-076.png' %}" sizes="76x76">
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-096.png' %}" sizes="96x96">
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-128.png' %}" sizes="128x128">
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-192.png' %}" sizes="192x192">
<link rel="icon" href="{% static 'website/images/favicon/favicon-20190206-228.png' %}" sizes="228x228">

{# Android #}
<link rel="shortcut icon" href="{% static 'website/images/favicon/favicon-20190206-196.png' %}" sizes="196x196">

{# iOS #}
<link rel="apple-touch-icon" href="{% static 'website/images/favicon/favicon-20190206-120.png' %}" sizes="120x120">
<link rel="apple-touch-icon" href="{% static 'website/images/favicon/favicon-20190206-152.png' %}" sizes="152x152">
<link rel="apple-touch-icon" href="{% static 'website/images/favicon/favicon-20190206-180.png' %}" sizes="180x180">

{# Windows 8 + IE 10 #}
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{% static 'website/images/favicon/favicon-20190206-144.png' %}">

{# Windows 8.1 + IE11 and above #}
<meta name="msapplication-config" content="{% url 'browserconfig' %}" />
