{% load static %}

{% if prominent %}
<div class="image-grid image-grid--prominent">
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/paramount@4x.png' %}" alt="Paramount logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/nike@4x.png' %}" alt="Nike logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/intel@4x.png' %}" alt="Intel logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/uo@4x.png' %}" alt="University of Oregon logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/car-talk@4x.png' %}" alt="Car Talk logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/cherriots@4x.png' %}" alt="Cherriots logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/smithsonian@4x.png' %}" alt="Smithsonian logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/energy-trust@4x.png' %}" alt="Energy Trust logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/caltf@4x.png' %}" alt="California Technical Forum logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/metro@4x.png' %}" alt="Oregon Metro logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/navex@4x.png' %}" alt="NAVEX Global logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/mentor@4x.png' %}" alt="Mentor logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/occ@4x.png' %}" alt="Oregon Convention Center logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/autodesk@4x.png' %}" alt="AutoDesk logo"></div>
</div>

{% else %}
<div class="image-grid image-grid--prominent">
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/paramount@4x.png' %}" alt="Paramount logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/nike@4x.png' %}" alt="Nike logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/intel@4x.png' %}" alt="Intel logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/uo@4x.png' %}" alt="University of Oregon logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/smithsonian@4x.png' %}" alt="Smithsonian logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/navex@4x.png' %}" alt="NAVEX Global logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/metro@4x.png' %}" alt="Oregon Metro logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/nwpp@4x.png' %}" alt="NWPP logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/car-talk@4x.png' %}" alt="Car Talk logo"></div>
  <div class="image-grid--item"><img class="lazy" data-src="{% static 'website/images/logo/energy-trust@4x.png' %}" alt="Energy Trust logo"></div>
</div>
{% endif %}
