{% load static %}

{% if stand %}
  <a href="{% url 'project-stand' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_stand-org-app@2x.png' %}"
           alt="Organization logo for Stand For Children, set against a blue background">
    </div>
    <h3 class="project-card--title"><span>Stand for Children Organizer&nbsp;App</span></h3>
    <div class="project-card--body">Powering volunteer engagement with an iniitiative planning tablet app.</div>
  </a>

{% elif occ %}
  <a href="{% url 'project-occ' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_occ@2x.png' %}"
           alt="A screen capture of the Oregon Convention Center website">
    </div>
    <h3 class="project-card--title"><span>Oregon Convention Center</span></h3>
    <div class="project-card--body">A radically fresh website for one of the nation's most progressive convention
      center.
    </div>
  </a>

{% elif kaufmanhall %}
  <a href="{% url 'project-kaufmanhall' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_kaufman-hall@2x.png' %}"
           alt="A screen capture of the Kaufman Hall website">
    </div>
    <h3 class="project-card--title"><span>Kaufman Hall</span></h3>
    <div class="project-card--body">Content Management for a and software powerhouse.</div>
  </a>

{% elif nwcouncilrtf %}
  <a href="{% url 'project-nwcouncilrtf' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_nw-council-rtf@2x.png' %}"
           alt="A screen capture of the NW Council Regional Technical Forum website">
    </div>
    <h3 class="project-card--title"><span>Regional Technical&nbsp;Forum</span></h3>
    <div class="project-card--body">Powering energy efficient planning the Northwest.</div>
  </a>

{% elif metrocomments %}
  <a href="{% url 'project-metropcmt' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_metro-pcmt@2x.png' %}"
           alt="A screen capture of the Oregon Metro Public Comment Map App website">
    </div>
    <h3 class="project-card--title"><span>Metro Public Comment Maps</span></h3>
    <div class="project-card--body">Powering regional transit planning with public input maps.</div>
  </a>

{% elif compliancenext %}
  <a href="{% url 'project-compliancenext' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_compliance-next@2x.png' %}"
           alt="A screen capture of the Compliance Next website">
    </div>
    <h3 class="project-card--title"><span>Compliance Next</span></h3>
    <div class="project-card--body">Powering training and networking community in a new industry.</div>
  </a>

{% elif smithsonian %}
  <a href="{% url 'project-smithsonian' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_lemelson@2x.png' %}"
           alt="A screen capture of the Smithsonian Lemelson Center website">
    </div>
    <h3 class="project-card--title"><span>Smithsonian Lemelson Center</span></h3>
    <div class="project-card--body">Honoring the American history of invention and innovation with a cutting-edge
      website.
    </div>
  </a>

{% elif metro %}
  <a href="{% url 'project-metro' %}" class="project-card">
    <div class="project-card--media">
      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_metro@2x.png' %}"
           alt="A screen capture of the Oregon Metro website">
    </div>
    <h3 class="project-card--title"><span>Metro</span></h3>
    <div class="project-card--body">Connecting millions with their regional government and services.</div>
  </a>

{#{% elif autodesk %}#}
{#  <a href="{% url 'project-autodesk' %}" class="project-card">#}
{#    <div class="project-card--media">#}
{#      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_autodesk@2x.png' %}"#}
{#           alt="A screen capture of the Autodesk Recap website">#}
{#    </div>#}
{#    <h3 class="project-card--title"><span>Autodesk Recap</span></h3>#}
{#    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>#}
{#  </a>#}
{##}
{#{% elif seri %}#}
{#  <a href="{% url 'project-seri' %}" class="project-card">#}
{#    <div class="project-card--media">#}
{#      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_seri@2x.png' %}"#}
{#           alt="A screen capture of the Sustainable Electronics Recycling International website">#}
{#    </div>#}
{#    <h3 class="project-card--title"><span>Sustainable Electronics Recycling&nbsp;International</span></h3>#}
{#    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>#}
{#  </a>#}
{##}
{#{% elif uo %}#}
{#  <a href="{% url 'project-uo' %}" class="project-card">#}
{#    <div class="project-card--media">#}
{#      <img class="lazy" data-src="{% static 'website/images/project-cards/project-card_uo@2x.png' %}"#}
{#           alt="A screen capture of the University of Oregon College of Business website">#}
{#    </div>#}
{#    <h3 class="project-card--title"><span>University of Oregon Lundquist College of&nbsp;Business</span></h3>#}
{#    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>#}
{#  </a>#}

{% endif %}
