<div class="rings{% if vertical %} rings--vertical{% elif verticalMobile %} rings--vertical--mobile{% endif %}{% if delayed %}  rings--delayed{% endif %}{% if services %} rings--services{% endif %}">
  {% include 'svg/ring-gradient.svg.html' %}
  <div class="rings--group">
    <div class="rings--inner">
    {% for ring in rings %}
      <div class="rings--item{% if ring.filled %} rings--item--filled{% endif %}">
        <div class="rings--item-inner">
          {% if forloop.counter is rings|length %}
            {% if ring.filled %}
              <div id="ring--svg--last--filled" class="ring--svg ring--svg--last ring--svg--filled">{% include 'svg/ring-white.svg.html' %}</div>

            {% else %}
              {% include 'svg/ring-last.svg.html' %}
            {% endif %}
          {% elif forloop.counter is 1 %}
            {% if ring.filled %}
              <div id="ring--svg--first--filled" class="ring--svg ring--svg--first ring--svg--filled">{% include 'svg/ring-white.svg.html' %}</div>
            {% else %}
              {% include 'svg/ring-first.svg.html' %}
            {% endif %}
          {% else %}
            {% if ring.filled %}
              <div id="ring--svg--middle--filled" class="ring--svg ring--svg--middle ring--svg--filled">{% include 'svg/ring-white.svg.html' %}{% include 'svg/ring-white.svg.html' %}</div>
            {% else %}
              {% include 'svg/ring-middle.svg.html' %}
            {% endif %}
          {% endif %}
          <div class="rings--content">
            <div class="rings--title-group"><h2 class="rings--title{{ ring.titleclass }}">{{ ring.title|safe }}</h2></div>
            {%  if ring.summary %}
            <div class="rings--summary">{{ ring.summary|safe }}</div>
            {%  endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
