
{% if team %}
<div class="section-intro">
  <h2 class="section-intro--title">Our Team</h2>
  <div class="section-intro--summary">We are a team of developers, designers, strategists, and leaders united by our purpose: turning vision into reality with awesome&nbsp;tech.</div>
</div>

{% elif clients %}
<div class="section-intro">
  <h2 class="section-intro--title">Our Clients</h2>
  <div class="section-intro--summary{% if subtle %} section-intro--summary--subtle{% endif %}">Clients come to us from all industries and sectors — We partner with companies and organizations that have a vision and need a technology agency that can deliver value around that&nbsp;vision.</div>
</div>

{% endif %}
