<ul class="social-links">
  <li class="social-links--item"><a href="https://twitter.com/weareombu/" class="social-links--link">{% include 'svg/social-twitter.svg.html' %}<span class="social-links--label">Twitter</span></a></li>
  <li class="social-links--item"><a href="https://www.facebook.com/weareombu/" class="social-links--link">{% include 'svg/social-facebook.svg.html' %}<span class="social-links--label">Facebook</span></a></li>
  <li class="social-links--item"><a href="https://www.linkedin.com/company/ombu-web/" class="social-links--link">{% include 'svg/social-linkedin.svg.html' %}<span class="social-links--label">LinkedIn</span></a></li>
  <li class="social-links--item"><a href="https://www.instagram.com/weareombu/" class="social-links--link">{% include 'svg/social-instagram.svg.html' %}<span class="social-links--label">Instagram</span></a></li>
</ul>
