{% extends 'theme_base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block header_attributes %}class="header--with-supplement"{% endblock %}

{% block header_title_supplement %}<div class="header--title-supplement">+ {{client}}</div>{% endblock %}

{% block content %}
  <main>
    {% include 'features/case-study/_banner.html' %}
    {% include 'features/case-study/_intro.html' %}
    {% if intro_testimonial_quote %}
      {% include 'features/_testimonial.html' with testimonial_image="" testimonial_quote=intro_testimonial_quote testimonial_attribution_name=intro_testimonial_attribution_name testimonial_attribution_title=intro_testimonial_attribution_title %}
    {% endif %}
    {% include 'features/case-study/_contributions.html' %}
    {% include 'features/case-study/_main.html' %}

    <section class="cs-innovations">
      {% include 'features/_innovation-carousel.html' %}
    </section>
    <section class="cs-outcomes">
      <div class="container">
        <div class="row">
          <div class="cs-outcomes--content">
            <h2 class="cs-outcomes--title">Project Outcomes</h2>
            <div class="cs-outcomes--body">
              <p>Galaxies encyclopaedia galactica, cosmos at the edge of forever the sky calls to us from which we spring Rig Veda Euclid made in the interiors of collapsing stars consciousness.</p>
            </div>
            {% include 'features/_rings.html' with ringTotal=4 verticalMobile=True delayed=True %}
            <div class="cs-outcomes--actions">
              <a href="#" class="cs-outcomes--cta">Download & Share{% include 'svg/arrow-right-long.svg.html' %}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cs-cta">
      <div class="container">
        <div class="cs-cta--content">We helped Northwest PowerPool<br>modernize their power utility training.<br><strong>What can we modernize for you?</strong></div>
      </div>
    </section>
    <section class="cs-contact">
      <div class="container">
        {% include 'features/_contact.html' %}
      </div>
    </section>
  </main>
{% endblock content %}

{% block modals %}
  <!-- Video Modal -->
  <div class="modal" id="video-overlay-modal" tabindex="-1" role="dialog" aria-labelledby="video-overlay-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <video controls class="video-overlay">
            <source src="" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
{% endblock modals %}
