{% extends 'theme_base.html' %}

{% block title %}Web solutions for CMS, applications, infrastructure, and tech strategy{% endblock title %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title">
        <h1 class="page-title--title page-title--title--prominent">The Technology Agency<br>for Visionaries</h1>
        <nav class="page-nav">
          <ul class="page-nav--list">
            <li class="page-nav--item"><a href="/services#enterprise-cms" class="page-nav--link">Enterprise CMS</a></li>
            <li class="page-nav--item"><a href="services#business-applications" class="page-nav--link">Business Applications</a></li>
            <li class="page-nav--item"><a href="services#infrastructure" class="page-nav--link">Infrastructure</a></li>
            <li class="page-nav--item"><a href="services#technology-strategy" class="page-nav--link">Technology Strategy</a></li>
          </ul>
        </nav>
      </section>
      <section class="home-content">
        {% include 'features/_callout.html' with navex=True prominent=True %}
        {% include 'features/_callout.html' with nwpp=True %}
        {% include 'features/_callout.html' with sa=True prominent=True %}
        {% include 'features/_cta-subtle.html' %}
        {% include 'features/_image-grid.html' %}
      </section>
    </div>
  </main>
{% endblock content %}
