{% extends 'theme_base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block header_attributes %}class="header--project"{% endblock %}

{% block header_bottom %}
  <div class="project-slider animation-target">
    <div class="container">
      <div class="row">
        <div class="slider">
          <div class="slider--slide slider--slide--has-shadow">
            <img src="{% static 'website/images/slider/slider-1.png' %}" title="">
          </div>
          <div class="slider--slide slider--slide--has-text">
            <div class="slide--text">
              <span class="slide--text-prominent">92%</span>
              <span class="slide--text-default">of Event Organizers Described the<br>New Site as “Good” or “Excellent”</span>
            </div>
          </div>
          <div class="slider--slide slider--slide--has-two-images">
            <div class="slider--slide-image">
              <img src="{% static 'website/images/slider/slider-2.png' %}" title="">
            </div>
            <div class="slider--slide-image">
              <a href="#image-overlay-modal" class="image-overlay--link image-overlay--link--gallery"><img src="{% static 'website/images/slider/slider-3.png' %}" title=""><span class="image-overlay--prompt-wrapper"><span class="image-overlay--prompt">{% include 'svg/expand.svg.html' %}<span>View</span></span></span></a>
            </div>
          </div>
          <div class="slider--slide slider--slide--has-shadow">
            <img src="{% static 'website/images/slider/slider-4.png' %}" title="">
          </div>
          <div class="slider--slide">
            <img src="{% static 'website/images/slider/slider-5.png' %}" title="">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock header_bottom %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="project--content">
          <section class="page-title project-section">
            <div class="project-section--main">
              <div class="project-title--cta"><a href="{{visit_url}}" class="project-title--cta-link">{{visit_text}} {% include 'svg/website.svg.html' %}</a></div>
              <h1 class="page-title--title page-title--title--project">{{client}}</h1>
              <div class="rte project-intro--body">{% autoescape off %}{{intro}}{% endautoescape %}</div>
            </div>
            <aside class="project-section--supplementary">
              <div class="project-section--supplementary-content">
                <a href="{{visit_url}}" class="project-section--cta">{{visit_text}} {% include 'svg/website.svg.html' %}</a>
                <div class="menu-list">
                  <h2 class="menu-list--title">Services</h2>
                  <ul class="menu-list--list">
                  {% for service in services %}
                    <li class="menu-list--item"><a href="#" class="menu-list--link">{{service}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </aside>
          </section>
          <blockquote class="blockquote--has-image"><aside class="blockquote--image"><img src="{% static testimonial_image %}"></aside><div class="blockquote--content">{{testimonial_quote}}<cite>{{testimonial_attribution}}</cite><div></blockquote>
          <section class="project-section">
            <div class="project-section--main rte">
              <h2>Insights</h2>
              {% include insights_content_template %}
            </div>
            <aside class="project-section--supplementary">
              <div class="project-section--supplementary-content">
                <div class="menu-list">
                  <h2 class="menu-list--title">Technologies & Innovations</h2>
                  <ul class="menu-list--list">
                  {% for technology in technologies %}
                    <li class="menu-list--item"><a href="#" class="menu-list--link">{{technology}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </aside>
          </section>
          <section class="project-section">
            <div class="project-section--pager">
              <ul class="project-pager">
                <li>
                  <a href="#" class="project-pager--link">
                    <div class="project-pager--label">Case Study:</div>
                    <h2 class="project-pager--title">Car Talk</h2>
                    <span class="project-pager--cta">Don't Drive Like My Brother</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="project-pager--link">
                    <div class="project-pager--label">Case Study:</div>
                    <h2 class="project-pager--title">Paramount Pictures</h2>
                    <span class="project-pager--cta">Now Playing</span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
