{% extends 'theme_base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block header_attributes %}class="header--project"{% endblock %}

{% block header_bottom %}
  {% if hero_carousel_content_template %}
  <div class="project-slider animation-target">
    <div class="container">
      <div class="row">
        {% include hero_carousel_content_template %}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock header_bottom %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="project--content">
          <section class="page-title project-section">
            <div class="project-section--main">
              {% if visit_url %}
              <div class="project-title--cta"><a href="{{visit_url}}" class="project-title--cta-link">{{visit_text}} {% include 'svg/website.svg.html' %}</a></div>
              {% endif %}
              <h1 class="page-title--title page-title--title--project">{{client|safe}}</h1>
              {% if intro %}
              <div class="rte project-intro--body">{{intro|safe}}</div>
              {% endif %}
            </div>
            <aside class="project-section--supplementary">
              <div class="project-section--supplementary-content">
                {% if visit_url %}
                <a href="{{visit_url}}" class="project-section--cta">{{visit_text}} {% include 'svg/website.svg.html' %}</a>
                {% endif %}
                {% if services %}
                <div class="menu-list">
                  <h2 class="menu-list--title">Services</h2>
                  <ul class="menu-list--list">
                  {% for service in services %}
                    <li class="menu-list--item">{{service}}</li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              </div>
            </aside>
          </section>
          {% if testimonial_quote %}
          <blockquote class="blockquote--has-image"><aside class="blockquote--image"><img src="{% static testimonial_image %}" width="260"></aside><div class="blockquote--content">{{testimonial_quote}}<cite>{{testimonial_attribution}}</cite><div></blockquote>
          {% endif %}
          <section class="project-section">
            {% if insights_content_template %}
            <div class="project-section--main rte">
              <h2>Insights</h2>
              {% include insights_content_template %}
            </div>
            {% endif %}
            {% if technologies %}
            <aside class="project-section--supplementary">
              <div class="project-section--supplementary-content">
                <div class="menu-list">
                  <h2 class="menu-list--title">Technologies & Innovations</h2>
                  <ul class="menu-list--list">
                  {% for technology in technologies %}
                    <li class="menu-list--item">{{technology}}</li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </aside>
            {% endif %}
          </section>
          <section class="project-section">
            <div class="project-section--pager">
              <ul class="project-pager">
                <li>
                  <a href="{{project_prev.url}}" class="project-pager--link">
                    <div class="project-pager--label">Project profile:</div>
                    <h2 class="project-pager--title">{{project_prev.name}}</h2>
                    <span class="project-pager--cta">{{project_prev.cta}}</span>
                  </a>
                </li>
                <li>
                  <a href="{{project_next.url}}" class="project-pager--link">
                    <div class="project-pager--label">Case Study:</div>
                    <h2 class="project-pager--title">{{project_next.name}}</h2>
                    <span class="project-pager--cta">{{project_next.cta}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
