{% load static %}
<!DOCTYPE html>
<html class="border-animate-init no-js">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
      <title>{% block title %}{% endblock %} — OMBU</title>
      <meta name="description" content="{% block meta_description %}{% endblock %}"></meta>
      {% block extrahead %}{% endblock %}
      <link href="{% static "website/css/style.css" %}" rel="stylesheet" type="text/css" />
      {% block extrastyle %}{% endblock %}
  </head>
  <body {% block body_attrs %}{% endblock %}>

    <div id="page">
      {% block content_top %}
        <header id="header" {% block header_attributes %}{% endblock %}>
          <div class="container">
            <div class="header--contents">
              <a href="{% url 'home' %}" class="header--logo">{% include 'svg/logo.svg.html' %}</a>
              {% block header_title_supplement %}{% endblock %}
              <a href="#menu" class="header--menu-toggle">{% include 'svg/menu.svg.html' %}<span>Menu</span></a>
            </div>
          </div>
          <nav role="navigation" class="navigation" id="menu">
            <div class="container navigation--container">
              <div class="navigation--contents">
                <h2 class="navigation--label">Menu</h2>
                <div class="navigation--actions">
                  <a href="#" class="header--menu-close">{% include 'svg/close.svg.html' %}</a>
                </div>
                <ul class="navigation--primary">
                  <li class="navigation--primary-group navigation--primary-group--has-secondary">
                    <div class="navigation--primary-link-wrapper"><a class="navigation--primary-link" href="{% url 'work' %}"><span>Work</span></a></div>
                    <ul class="navigation--secondary">
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="{% url 'case-study-navex' %}" class="navigation--secondary-link"><span>NAVEX Global</span></a></div><span class="navigation--secondary-description">Building a CMS for the global compliance leader</span></li>
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="{% url 'case-study-nwpp' %}" class="navigation--secondary-link"><span>Northwest Power Pool</span></a></div><span class="navigation--secondary-description">Modernizing power utility training for an entire region</span></li>
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="{% url 'case-study-sa' %}" class="navigation--secondary-link"><span>Saturday Academy</span></a></div><span class="navigation--secondary-description">Engaging the next generation of scientists and artists</span></li>
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper navigation--secondary-link-wrapper--cta"><a href="{% url 'work' %}" class="navigation--secondary-link navigation--secondary-link--cta"><span>See More Work</span></a></div></li>
                    </ul>
                  </li>
                  <li class="navigation--primary-group navigation--primary-group--has-secondary">
                    <div class="navigation--primary-link-wrapper"><a class="navigation--primary-link" href="{% url 'services' %}"><span>Services</span></a></div>
                    <ul class="navigation--secondary">
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="{% url 'services' %}#enterprise-cms" class="navigation--secondary-link"><span>Enterprise CMS</span></a></div><span class="navigation--secondary-description">Fast. Powerful. Easy.</span></li>
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="{% url 'services' %}#business-applications" class="navigation--secondary-link"><span>Business Applications</span></a></div><span class="navigation--secondary-description">Streamlined experiences for any need</span></li>
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="{% url 'services' %}#infrastructure" class="navigation--secondary-link"><span>Infrastructure</span></a></div><span class="navigation--secondary-description">Never have an outage again</span></li>
                    </ul>
                  </li>
                  <li class="navigation--primary-group navigation--primary-group--has-secondary">
                    <div class="navigation--primary-link-wrapper"><a class="navigation--primary-link" href="{% url 'contact' %}"><span>Contact</span></a></div>
                    <ul class="navigation--secondary">
                      <li class="navigation--secondary-item"><div class="navigation--secondary-link-wrapper"><a href="#" class="navigation--secondary-link"><span>Coffee's on us</span></a></div><span class="navigation--secondary-description"><a class="navigation--secondary-contact-link" href="mailto:business@ombuweb.com">business@ombuweb.com</a><br><a class="navigation--secondary-contact-link" href="tel:1-503-298-4888">503.298.4888</a></span></li>
                    </ul>
                  </li>
                  <li class="navigation--primary-group navigation--primary-group--single-item">
                    <div class="navigation--primary-link-wrapper"><a class="navigation--primary-link" href="{% url 'about' %}"><span>About</span></a></div>
                  </li>
                  <li class="navigation--primary-group navigation--primary-group--single-item">
                    <div class="navigation--primary-link-wrapper"><a class="navigation--primary-link" href="{% url 'careers' %}"><span>Careers</span></a></div>
                  </li>
                  <li class="navigation--primary-group">
                    <span class="navigation--primary-group-label">Social Links</span>
                    {% include 'features/_social-links.html' %}
                  </li>
                </ul>
              </div>
              <span class="navigation--background" role="presentation">{% include 'svg/tree.svg.html' %}</span>
            </div>
          </nav>
          {% block header_bottom %}{% endblock header_bottom %}
        </header>
      {% endblock content_top %}

      {% block content %}{% endblock content %}

      {% block content_bottom %}
        <footer id="footer">
          <div class="container">
            <div class="footer--contents">
              <span class="footer--background" role="presentation">{% include 'svg/tree.svg.html' %}</span>
              <div class="footer--primary">
                <div class="footer--primary-inner">
                  <div class="footer--cta-image"><img src="{% static 'website/images/telescope@4x.png' %}" alt="High five"></div>
                  <h2 class="footer--cta-title">What's Your Vision</h2>
                  <div class="footer--cta-description">Let's chat and see how we can help you bring your vision to life. Get in touch.</div>
                  <a href="{% url 'contact' %}" class="footer-cta-cta">Coffee's on us</a>
                </div>
              </div>
              <div class="footer--secondary">
                <ul class="footer--links">
                  <li class="footer--link-item"><a href="{% url 'work' %}" class="footer--link"><span>Work</span></a></li>
                  <li class="footer--link-item"><a href="{% url 'services' %}" class="footer--link"><span>Services</span></a></li>
                  <li class="footer--link-item"><a href="{% url 'contact' %}" class="footer--link"><span>Contact</span></a></li>
                  <li class="footer--link-item"><a href="{% url 'about' %}" class="footer--link"><span>About</span></a></li>
                  <li class="footer--link-item"><a href="{% url 'careers' %}" class="footer--link"><span>Careers</span></a></li>
                </ul>
                <div class="footer--social-links social-links--light">
                  {% include 'features/_social-links.html' %}
                </div>
              </div>
            </div>
          </div>
        </footer>
      {% endblock content_bottom %}
    </div>

    {% block post_content %}
    {% endblock post_content %}

    <svg class="page-border" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <defs>
        <linearGradient id="page-border--gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#F3A7AD">
            <animate id="page-border--gradient--animate-1" attributeName="stop-color" values="#6DC5D4;#F3A7AD;#6DC5D4" dur="1s" from="0" to="100%" repeatCount="indefinite" begin="click" />
          </stop>
          <stop offset="100%" stop-color="#6DC5D4">
            <animate id="page-border--gradient--animate-2" attributeName="stop-color" values="#F3A7AD;#6DC5D4;#F3A7AD" dur="1s" from="0" to="100%" repeatCount="indefinite" begin="click" />
          </stop>
        </linearGradient>
      </defs>
      <rect x="0" y="0" width="100" height="100" fill="transparent" />
    </svg>

    <!-- Modal -->
    <div class="modal" id="image-overlay-modal" tabindex="-1" role="dialog" aria-labelledby="image-overlay-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">        
          <div class="modal-body">
            <img class="image-overlay" src="" alt="" />
          </div>
          <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>            
        </div>
      </div>
    </div>

    {% block modals %}{% endblock %}

    <script type="text/javascript" src="{% static "website/js/scripts-all.js" %}"></script>

    {% block extrascript %}{% endblock %}
    {% block page_bottom %}{% endblock %}

  </body>
</html>
