<section class="cs-outcomes">
  <div class="container">
    <div class="row">
      <div class="cs-outcomes--content">
        <h2 class="cs-outcomes--title">Project Outcomes</h2>
        <div class="cs-outcomes--body">{{outcome_conclusion|safe}}</div>
        {% include 'features/_rings.html' with verticalMobile=True delayed=True rings=outcomes %}
        {% if pdf_download %}
        <div class="cs-outcomes--actions">
          <a href="{{ pdf_download }}" class="cs-outcomes--cta">Download &amp; Share{% include 'svg/arrow-right-long.svg.html' %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
