{% extends 'experimental/exp_base.html' %}

{% block content %}
  <main>
    <div class="container">
      <section class="page-title">
        <h1 class="page-title--title page-title--title--prominent">Page Transitions</h1>
      </section>
      <ul class="exp-concept-menu">
        <li>
          <a href="/exp/transitions/a">
            <dl class="exp-concept-menu--concept">
              <dt class="exp-concept-menu--concept--name">Concept A</dt>
              <dd class="exp-concept-menu--concept--description">On transition out, the page border increases in thickness and its inner gradient animates to convey work.</dd>
            </dl>
          </a>
        </li>
        <li>
          <a href="/exp/transitions/b">
            <dl class="exp-concept-menu--concept">
              <dt class="exp-concept-menu--concept--name">Concept B</dt>
              <dd class="exp-concept-menu--concept--description">On transition out, the page border decreases in thickness and vanishes entirely.</dd>
            </dl>
          </a>
        </li>
      </ul>
    </div>
  </main>
{% endblock content %}
