{% load static %}

{% if navex %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title"><span class="callout--title-prefix">NAVEX Global</span> Enterprise CMS for the Global Ethics&nbsp;Leader</h2>
    <div class="callout--body rte">
      <p>NAVEX Global, the largest consulting firm for ethics and compliance, needed a robust content management system to reach their global audiences. We designed and built a rich new website with powerful marketing tools and a filterable resource center to showcase NAVEX’s thought leadership in the&nbsp;industry.</p>
    </div>
    <a href="{% url 'case-study-navex' %}" class="callout--cta">Read the Case Study</a>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    {% if fullwidth %}
      <a href="{% url 'case-study-navex' %}"><img src="{% static 'website/images/case-studies/navex/hero@2x.jpg' %}" alt="NAVEX Global screenshot"></a>
    {% else %}
      <div class="browser-chrome">
        {% include 'svg/browser.svg.html' with url='navexglobal.com' %}
        <img src="{% static 'website/images/case-studies/navex/callout@1x.jpg' %}" alt="NAVEX Global screenshot">
      </div>
    {% endif %}
  </aside>
</div>

{% elif nwpp %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title"><span class="callout--title-prefix">Northwest Power&nbsp;Pool</span> Modernizing Power Utility&nbsp;Training</h2>
    <div class="callout--body rte">
      <p>OMBU designed a powerful centralized training platform so NWPP could help its member utilities keep up-to-date on mandated certifications and the latest trends, meaning greater safety, more engagement, and more benefit to the whole membership base and their&nbsp;customers.</p>
    </div>
    <a href="{% url 'case-study-nwpp' %}" class="callout--cta">Read the Case Study</a>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    {% if fullwidth %}
      <a href="{% url 'case-study-nwpp' %}"><img src="{% static 'website/images/case-studies/nwpp/hero@2x.jpg' %}" alt="NWPP screenshot"></a>
    {% else %}
      <img src="{% static 'website/images/callout/callout_nwpp-1.png' %}" alt="NWPP screenshot">
    {% endif %}
  </aside>
</div>

{% elif sa %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title"><span class="callout--title-prefix">Saturday Academy</span> Reaching the Next Generation of Scientists, Engineers, and&nbsp;Artists</h2>
    <div class="callout--body rte">
      <p>Saturday Academy offers over 700 STEAM-curriculum classes per year, but registration was cumbersome for parents and data was a mess for staff. We designed and built a Salesforce CRM and integrated website that lets parents register their children while data flows in real-time for instant reporting and&nbsp;analysis.</p>
    </div>
    <a href="{% url 'case-study-sa' %}" class="callout--cta">Read the Case Study</a>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    {% if fullwidth %}
      <a href="{% url 'case-study-sa' %}"><img src="{% static 'website/images/case-studies/sa/hero@2x.jpg' %}" alt="Saturday Academy screenshot"></a>
    {% else %}
      <div class="browser-chrome">
        {% include 'svg/browser.svg.html' with url='saturdayacademy.org' %}
        <img src="{% static 'website/images/case-studies/sa/callout@1x.jpg' %}" alt="Saturday Academy screenshot">
      </div>
    {% endif %}
  </aside>
</div>

{% elif story %}
<div class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Our Story</h2>
    <div class="callout--body rte">
      <p>OMBU was founded in 2009 by Martin Rio, who drove across the country in a VW Bus with a laptop, a phone, and a love of technology. A few short years later in 2012, we launched a redesigned paramount.com for Paramount Pictures, proving that a small team of top talent can build big things on the&nbsp;web.</p>
      <p>Since then, we’ve worked with clients like the Smithsonian Institute, Car Talk, Nike, and Stand for Children to come up with great ideas that turn into enterprise&nbsp;applications.</p>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img src="{% static 'website/images/callout/about-story.png' %}" alt="Van image">
  </aside>
</div>

{% elif enterprise %}
<div id="enterprise-cms" class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Enterprise CMS</h2>
    <div class="callout--body rte">
      <p>Successful organizations react quickly as the competitive landscape changes. Your website should never be in the way of fast&nbsp;action.</p><p>We design and build modern websites that run on a powerful, flexible content management system (CMS), so that our clients can reach more audiences and move more&nbsp;quickly.</p><ul><li>Faster time-to-market</li><li>Digital asset management</li><li>Support for global audiences, with translation and&nbsp;localization</li><li>Content creation, review, and approval&nbsp;workflows</li><li>Performant and scalable in cloud and on-premise&nbsp;deployments</li></ul>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img src="{% static 'website/images/callout/callout_enterprise.png' %}" alt="Enterprise Graphics">
  </aside>
</div>

{% elif business %}
<div id="business-applications" class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Business Applications</h2>
    <div class="callout--body rte">
      <p>We help companies and organizations achieve their goals by crafting custom business applications that target their specific processes and needs. We’ve created learning management systems, community organizing apps, training forums, and more. We’re able to build the application you&nbsp;need.</p><ul><li>Custom support platforms</li><li>Systems-integrated dashboards</li><li>Learning systems</li><li>Community organizing apps</li><li>Business applications</li></ul>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img src="{% static 'website/images/callout/callout_business.png' %}" alt="Business Graphics">
  </aside>
</div>

{% elif infrastructure %}
<div id="infrastructure" class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Infrastructure</h2>
    <div class="callout--body rte">
      <p>When our clients go viral, everyone is able to breathe easy, because we architect and manage advanced cloud infrastructure that is geographically distributed and immediately scalable. As a certified Amazon Web Services partner, we help our clients deploy on AWS to increase uptime and lower hosting costs by as much as&nbsp;50%.</p><ul><li>High-availability (HA) redundant cloud&nbsp;infrastructure</li><li>Automated backups</li><li>White-glove maintenance service</li><li>Powered by Amazon</li></ul>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img src="{% static 'website/images/callout/callout_infrastructure.png' %}" alt="Infrastructure Graphics">
  </aside>
</div>

{% elif technology %}
<div id="technology-strategy" class="callout{% if fullwidth %} callout--fullwidth{% endif %}{% if subtleMargins %} callout--subtle{% endif %}{% if bigGap %} callout--gap{% endif %}">
  <div class="callout--content">
    <h2 class="callout--title{% if titleProminent %} callout--title--prominent{% endif %}">Technology Strategy</h2>
    <div class="callout--body rte">
      <p>Who’s looking out for your technology? How do you know you’re making the smartest&nbsp;choices?</p>
      <p>Our clients are experts in their fields — and we’re experts in the web. We help guide our clients’ tech strategy, so we build the right solution and maximize budget and&nbsp;impact.</p><ul><li>Smarter decisions through&nbsp;discovery</li><li>Pick the right&nbsp;technologies</li><li>Putting you in control of your tech&nbsp;budget</li></ul>
    </div>
  </div>
  <aside class="callout--media{% if prominent %} callout--media--prominent{% endif %}{% if mediaSubtle %} callout--media--subtle{% endif %}">
    <img src="{% static 'website/images/callout/callout_technology.png' %}" alt="Technology Graphics">
  </aside>
</div>

{% endif %}
