{% load static %}

<div class="image-grid">
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_nike.png' %}" alt="Nike Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_nwpp.png' %}" alt="NWPP Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_paramount.png' %}" alt="Paramount Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_navex.png' %}" alt="NAVEX Global Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_uo.svg' %}" alt="University of Oregon Logo"></div>
</div>