{% load static %}

{% if prominent %}
<div class="image-grid image-grid--prominent">
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_paramount@4x.png' %}" alt="Paramount Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_nike@4x.png' %}" alt="Nike Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_smithsonian@4x.png' %}" alt="Smithsonian Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_uo.svg' %}" alt="University of Oregon Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_mentor@4x.png' %}" alt="Mentor Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_intel@4x.png' %}" alt="Intel Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_autodesk@4x.png' %}" alt="AutoDesk Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_car-talk.svg' %}" alt="Car Talk Logo"></div>
</div>

{% else %}
<div class="image-grid">
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_nike@4x.png' %}" alt="Nike Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_nwpp@4x.png' %}" alt="NWPP Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_paramount@4x.png' %}" alt="Paramount Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_navex@4x.png' %}" alt="NAVEX Global Logo"></div>
  <div class="image-grid--item"><img src="{% static 'website/images/logo/logo_uo.svg' %}" alt="University of Oregon Logo"></div>
</div>
{% endif %}
