{% load static %}

<div class="ic">
  <div class="ic--header">
    <h2 class="ic--title">Our Technology Innovations</h2>
    <div class="ic--pager">
      <a href="#ic-slide-0" class="ic--pager-item">Drag & Drop Course Builder</a>
      <a href="#ic-slide-1" class="ic--pager-item">Powerful Digital Asset Management</a>
      <a href="#ic-slide-2" class="ic--pager-item">High-Availability Infrastructure</a>
      <a href="#ic-slide-3" class="ic--pager-item">Self-Service Team Management Panel</a>
      <a href="#ic-slide-4" class="ic--pager-item">xAPI Integration</a>
    </div>
  </div>
  <div class="ic--slides">
    <div class="ic--slide" id="ic-slide-0" style="background-image: url('{% static 'website/images/ic_slide-0.png' %}');">
      <div class="ic--slide-text">NWPP can drag-and-drop any assortment of videos, documentation, and quizzes together to quickly and easily create courses for utility workers to take.</div>
      <div class="ic--slide-actions">
        <a href="#" class="ic--slide-action">Watch Demo</a>
      </div>
    </div>
    <div class="ic--slide" id="ic-slide-1" style="background-image: url('{% static 'website/images/ic_slide-0.png' %}');">
      <div class="ic--slide-text">NWPP can drag-and-drop any assortment of videos, documentation, and quizzes together to quickly and easily create courses for utility workers to take.</div>
      <div class="ic--slide-actions">
        <a href="#" class="ic--slide-action">Watch Demo</a>
      </div>
    </div>
    <div class="ic--slide" id="ic-slide-2" style="background-image: url('{% static 'website/images/ic_slide-0.png' %}');">
      <div class="ic--slide-text">NWPP can drag-and-drop any assortment of videos, documentation, and quizzes together to quickly and easily create courses for utility workers to take.</div>
      <div class="ic--slide-actions">
        <a href="#" class="ic--slide-action">Watch Demo</a>
      </div>
    </div>
    <div class="ic--slide" id="ic-slide-3" style="background-image: url('{% static 'website/images/ic_slide-0.png' %}');">
      <div class="ic--slide-text">NWPP can drag-and-drop any assortment of videos, documentation, and quizzes together to quickly and easily create courses for utility workers to take.</div>
      <div class="ic--slide-actions">
        <a href="#" class="ic--slide-action">Watch Demo</a>
      </div>
    </div>
    <div class="ic--slide" id="ic-slide-4" style="background-image: url('{% static 'website/images/ic_slide-0.png' %}');">
      <div class="ic--slide-text">NWPP can drag-and-drop any assortment of videos, documentation, and quizzes together to quickly and easily create courses for utility workers to take.</div>
      <div class="ic--slide-actions">
        <a href="#" class="ic--slide-action">Watch Demo</a>
      </div>
    </div>    
  </div>
</div>