{% load static %}

{% if stand %}
  <a href="{% url 'project-stand' %}" class="project-card">
    <div class="project-card--media">
      <img src="{% static 'website/images/project-cards/project-card_stand-for-children.png' %}" alt="Stand For Children">
    </div>
    <h3 class="project-card--title">Stand for Children  Organizer App</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif autodesk %}
  <a href="#" class="project-card">
    <div class="project-card--media">
      <img src="{% static 'website/images/project-cards/project-card_autodesk-recap.png' %}" alt="Stand For Children">
    </div>
    <h3 class="project-card--title">Autodesk Recap</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif occ %}
  <a href="{% url 'project-occ' %}" class="project-card">
    <div class="project-card--media">
      <img src="{% static 'website/images/project-cards/project-card_occ.png' %}" alt="Stand For Children">
    </div>
    <h3 class="project-card--title">Oregon Convention Center</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif kaufmanhall %}
  <a href="{% url 'project-kaufmanhall' %}" class="project-card">
    <div class="project-card--media"></div>
    <h3 class="project-card--title">Kaufman Hall</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif metrocomments %}
  <a href="#" class="project-card">
    <div class="project-card--media">
      <img src="{% static 'website/images/project-cards/project-card_metro.png' %}" alt="Stand For Children">
    </div>
    <h3 class="project-card--title">Oregon Metro Public Comment Map Tool</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif compliancenext %}
  <a href="#" class="project-card">
    <div class="project-card--media">
      <img src="{% static 'website/images/project-cards/project-card_compliance-next.png' %}" alt="Stand For Children">
    </div>
    <h3 class="project-card--title">Compliance Next</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif seri %}
  <a href="#" class="project-card">
    <div class="project-card--media"></div>
    <h3 class="project-card--title">Sustainable Electronics Recycling International</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif uo %}
  <a href="#" class="project-card">
    <div class="project-card--media"></div>
    <h3 class="project-card--title">University of Oregon Lundquist College of Business</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif smithsonian %}
  <a href="{% url 'project-smithsonian' %}" class="project-card">
    <div class="project-card--media"></div>
    <h3 class="project-card--title">Smithsonian Lemelson Center for the Study of Invention and Innovation</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% elif metro %}
  <a href="#" class="project-card">
    <div class="project-card--media"></div>
    <h3 class="project-card--title">Oregon Metro</h3>
    <div class="project-card--body">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </a>

{% endif %}
