<div class="project-list">
  <div class="project-list--item">
    {% include 'features/_project-card.html' with occ=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with kaufmanhall=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with nwcouncilrtf=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with metro=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with metrocomments=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with stand=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with compliancenext=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with smithsonian=True %}
  </div>

{% comment %}

  <div class="project-list--item">
    {% include 'features/_project-card.html' with autodesk=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with seri=True %}
  </div>
  <div class="project-list--item">
    {% include 'features/_project-card.html' with uo=True %}
  </div>

{% endcomment %}

</div>
