<div class="rings-horizontal">
  {% include 'svg/ring-gradient.svg.html' %}
  <div class="rings-horizontal--inner">
    <div class="rings-horizontal--item">
      {% include 'svg/ring-first.svg.html' %}
      <div class="rings-horizontal--content">
        <div class="rings-horizontal--title-group"><h2 class="rings-horizontal--title">Enterprise CMS</h2></div>
        <div class="rings-horizontal--summary">We make content<br>manageable</div>
      </div>
    </div>
    <div class="rings-horizontal--item">
      {% include 'svg/ring-middle.svg.html' %}
      <div class="rings-horizontal--content">
        <div class="rings-horizontal--title-group"><h2 class="rings-horizontal--title">Business Applications</h2></div>
        <div class="rings-horizontal--summary">We make businesses<br>profitable</div>
      </div>
    </div>      
    <div class="rings-horizontal--item">
      {% include 'svg/ring-last.svg.html' %}
      <div class="rings-horizontal--content">
        <div class="rings-horizontal--title-group"><h2 class="rings-horizontal--title">Infrastructure</h2></div>
        <div class="rings-horizontal--summary">We make systems reliable</div>
      </div>
    </div>      
  </div>
</div>
