<div class="rings{% if vertical %} rings--vertical{% elif verticalMobile %} rings--vertical--mobile{% endif %}{% if delayed %}  rings--delayed{% endif %}">
  {% include 'svg/ring-gradient.svg.html' %}
  <div class="rings--group">
    <div class="rings--inner">
    {% for ring in rings %}
      <div class="rings--item">
        <div class="rings--item-inner">
          {% if forloop.counter is rings|length %}
            {% include 'svg/ring-last.svg.html' %}
          {% elif forloop.counter is 1 %}
            {% include 'svg/ring-first.svg.html' %}
          {% else %}
            {% include 'svg/ring-middle.svg.html' %}
          {% endif %}
          <div class="rings--content">
            <div class="rings--title-group"><h2 class="rings--title">{% autoescape off %}{{ ring.title }}{% endautoescape %}</h2></div>
            <div class="rings--summary">{% autoescape off %}{{ ring.summary }}{% endautoescape %}</div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
