{% load static %}

<div class="team">
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-1.png' %}" alt="Team member 1 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Martin Rio</h3>
      <div class="team--title">Principal</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-2.png' %}" alt="Team member 2 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 2</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-3.png' %}" alt="Team member 3 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 3</h3>
      <div class="team--title">Product Owner</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-4.png' %}" alt="Team member 4 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 4</h3>
      <div class="team--title">Accountant</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-7.png' %}" alt="Team member 7 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 7</h3>
      <div class="team--title">Developer Lead</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-8.png' %}" alt="Team member 8 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 8</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-9.png' %}" alt="Team member 9 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 9</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-10.png' %}" alt="Team member 10 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 10</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-11.png' %}" alt="Team member 11 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 11</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-12.png' %}" alt="Team member 12 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 12</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>
  <div class="team--item">
    <div class="team--media"><img src="{% static 'website/images/team/team-13.png' %}" alt="Team member 13 headshot"></div>
    <div class="team--info">
      <h3 class="team--name">Team Member 13</h3>
      <div class="team--title">Developer</div>
    </div>
  </div>          
</div>