{% load static %}
<!DOCTYPE html>
<html {% block html_attrs %}{% endblock %}>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
      <title>{% block title %}{% endblock %} {{ site_config.site_title }}</title>
      <meta name="description" content="{% block meta_description %}{% endblock %}"></meta>
      {% block extrahead %}{% endblock %}
      <link href="{% static "website/css/style.css" %}" rel="stylesheet" type="text/css" />
      {% block extrastyle %}{% endblock %}
  </head>
  <body {% block body_attrs %}{% endblock %}>

    <div id="page" class="exp-page">
      {% block content_top %}
        <header id="header"{% block header_attributes %}{% endblock %}>
          <div class="container">
            <div class="header--contents">
              <a href="/" class="header--logo">{% include 'svg/logo.svg.html' %}</a>
            </div>
            <div class="exp-header">
              <a class="exp-index-link" href="/exp"><h3>Experiments</h3></a>
              <a class="exp-back-link" href="/exp/transitions"><span>⟻</span>Back</a>
            </div>
          </div>
        </header>
      {% endblock content_top %}

      {% block content %}{% endblock content %}

      {% block content_bottom %}
        <footer id="footer">
          <p>Yay, you scrolled and the page border remained fixed.</p>
        </footer>
      {% endblock content_bottom %}
    </div>

    {% block post_content %}
    {% endblock post_content %}

    <svg class="exp-transition-b--page-border" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
      <defs>
        <linearGradient id="exp-transition-b--page-border--gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#6DC5D4">
            <animate id="exp-transition-b--page-border--gradient--animate-1" attributeName="stop-color" values="#6DC5D4;#F3A7AD;#6DC5D4" dur="1s" from="0" to="100%" repeatCount="indefinite" begin="click" />
          </stop>
          <stop offset="100%" stop-color="#F3A7AD">
            <animate id="exp-transition-b--page-border--gradient--animate-2" attributeName="stop-color" values="#F3A7AD;#6DC5D4;#F3A7AD" dur="1s" from="0" to="100%" repeatCount="indefinite" begin="click" />
          </stop>
        </linearGradient>
      </defs>
      <rect x="0" y="0" width="100" height="100" fill="transparent" />
    </svg>

    {% block modals %}{% endblock %}

    <script type="text/javascript">
      function expTransitionCallback(e) {
        var e = window.e || e;
        var href = e.target.href;

        if (e.target.tagName === 'A' && e.target.className !== 'exp-back-link') {
          e.preventDefault();
          document.documentElement.classList.add("animate-out");
          setTimeout(function() {
            location.href = href;
          }, 1000);
        }
      }

      if (document.addEventListener) {
        document.addEventListener('click', expTransitionCallback, false);
      } else {
        document.attachEvent('onclick', expTransitionCallback);
      }

      document.documentElement.classList.add("animate-init");

      setTimeout(function() {
        document.documentElement.classList.add("animate-in");
      }, 0);

    </script>

    <!-- <script type="text/javascript" src="{% static "website/js/scripts-all.js" %}"></script> -->

    {% block extrascript %}{% endblock %}
    {% block page_bottom %}{% endblock %}

  </body>
</html>
